Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add write-status stories
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/write-status/write-status.stories.ts
Due: prettier --write

Add write-status stories (#1827)
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/write-status/write-status.stories.ts
Due: prettier --write

Create simplified navigation sidebar
  .vscode/settings.json
  src/SIL.XForge.Scripture/ClientApp/src/_variables.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/app.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/chapter-nav/chapter-nav.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/chapter-nav/chapter-nav.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/chapter-nav/chapter-nav.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/chapter-nav/chapter-nav.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/shared.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/activated-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/route.directive.ts
Due: prettier --write

Migrated back end to Serval Client
  src/SIL.XForge.Scripture/ClientApp/src/app/core/translation-engine.service.ts
  src/SIL.XForge.Scripture/Models/FeatureFlags.cs
  src/SIL.XForge.Scripture/Models/MachineApi.cs
  src/SIL.XForge.Scripture/Models/MachineApiCorpusFile.cs
  src/SIL.XForge.Scripture/Models/MachineApiTranslationEngine.cs
  src/SIL.XForge.Scripture/Models/MachineCorpus.cs
  src/SIL.XForge.Scripture/Models/SFProjectSecret.cs
  src/SIL.XForge.Scripture/Models/ServalCorpus.cs
  src/SIL.XForge.Scripture/Models/ServalCorpusFile.cs
  src/SIL.XForge.Scripture/Models/ServalData.cs
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/IMachineBuildService.cs
  src/SIL.XForge.Scripture/Services/IMachineCorporaService.cs
  src/SIL.XForge.Scripture/Services/IMachineTranslationService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineBuildService.cs
  src/SIL.XForge.Scripture/Services/MachineCorporaService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineServiceBase.cs
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/MachineTranslationService.cs
  src/SIL.XForge.Scripture/appsettings.json
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineBuildServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineCorporaServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineTranslationServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ServalApiExceptions.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fixes and clean ups of the new Serval Integration
  src/SIL.XForge.Scripture/Services/MachineAuthorizationHandler.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge.Scripture/appsettings.Development.json
  src/SIL.XForge.Scripture/appsettings.Staging.json
  src/SIL.XForge.Scripture/appsettings.Testing.json
  src/SIL.XForge.Scripture/appsettings.json
  src/SIL.XForge/Configuration/ConfigurationServiceCollectionExtensions.cs
  src/SIL.XForge/Configuration/ServalOptions.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Updated Migrator to use Serval
  src/Migrations/ServalMigration/MigratorFeatureSessionManager.cs
  src/Migrations/ServalMigration/Program.cs
  src/Migrations/ServalMigration/Properties/launchSettings.json
  src/Migrations/ServalMigration/ServalMigration.csproj
  src/Migrations/ServalMigration/ServalMigration.sln
  src/Migrations/ServalMigration/ServalMigrator.cs
  src/Migrations/ServalMigration/Startup.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fixed: Incorrect Confidence value
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Code Review fixes
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

- Lint fixes
  src/RealtimeServer/scriptureforge/services/sf-project-service.spec.ts
Due: prettier --write

- Corrected the offline notice message
  src/SIL.XForge.Scripture/ClientApp/src/app/join/join.component.html
Due: prettier --write

- Improve offline state for joining
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/app.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/join/join.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/join/join.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/join/join.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/user-projects.service.ts
Due: prettier --write

- Adjustments after rebasing
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

- Set hover state to login text - Set default values for new classes - Added HttpPost routes back in - Fix to join form state check
  src/SIL.XForge.Scripture/ClientApp/src/app/join/join.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/join/join.component.ts
  src/SIL.XForge.Scripture/Controllers/AnonymousController.cs
  src/SIL.XForge.Scripture/Models/CheckShareKeyRequest.cs
  src/SIL.XForge.Scripture/Models/GenerateAccountRequest.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

- Added tests for share key max users
  test/SIL.XForge.Scripture.Tests/Controllers/AnonymousControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/AnonymousServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

- Increase max users to 250 - Created promise to resolve in auth service once a users is confirmed as being logged in
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/join/join.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth.service.ts
  src/SIL.XForge.Scripture/Models/SFProject.cs
  src/SIL.XForge/Services/UserService.cs
  test/SIL.XForge.Scripture.Tests/Services/AnonymousServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Added V3 Machine API with Serval support
  src/SIL.XForge.Scripture/Controllers/MachineApiV2Controller.cs
  src/SIL.XForge.Scripture/Models/MachineApiV2.cs
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiV2ControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Selection shows the settings again. Also refined the filter for ProjectsProhibited
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.ts
Due: prettier --write

Revamping Connect Project page
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.ts
Due: prettier --write

Anchor regular expression detection to the start and end of the string
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Use XElement classes to part xml from Paratext comments
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge/Services/IUserService.cs
  src/SIL.XForge/Services/UserService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add sf user label class to commenter notes in PT
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-1917 Add reviewer name to note thread in PT
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge/Services/IUserService.cs
  src/SIL.XForge/Services/UserService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix merge issues and code alerts
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-1990 Prevent scrolling to the selection when keyboard opens
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Use an attribute to detect SF user labels
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-1917 Add reviewer name to note thread in PT (#1791)
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge/Services/IUserService.cs
  src/SIL.XForge/Services/UserService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Reverting accidental change during commit.
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
Due: prettier --write

Using SF projects on Projects page, instead of projects from Paratext.
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/user-projects.service.ts
Due: prettier --write

Fix share control appearance on mobile
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-control.component.scss
Due: prettier --write

Fix share control appearance on mobile (#1832)
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-control.component.scss
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,less,html,md,yml}
  dotnet format analyzers --include: any of: *.cs
  dotnet format style --include: any of: *.cs
  dotnet csharpier: any of: *.cs
