Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3946 Fix Lynx crash when applying a draft to a missing chapter
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-workspace.service.ts
Due: prettier --write

SF-3946 Fix Lynx crash when applying a draft to a missing chapter (#4154)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-workspace.service.ts
Due: prettier --write

Only accept requests for hosts listed in Site:Origin
  src/SIL.XForge.Scripture/Services/HostValidationServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge.Scripture/appsettings.json
  src/SIL.XForge/Configuration/SiteOptions.cs
  test/SIL.XForge.Scripture.Tests/Services/HostValidationServiceCollectionExtensionsTests.cs
  test/SIL.XForge.Scripture.Tests/StartupTests.cs
  test/SIL.XForge.Tests/Configuration/SiteOptionsTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Only accept requests for hosts listed in Site:Origin (#4160)
  src/SIL.XForge.Scripture/Services/HostValidationServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge.Scripture/appsettings.json
  src/SIL.XForge/Configuration/SiteOptions.cs
  test/SIL.XForge.Scripture.Tests/Services/HostValidationServiceCollectionExtensionsTests.cs
  test/SIL.XForge.Scripture.Tests/StartupTests.cs
  test/SIL.XForge.Tests/Configuration/SiteOptionsTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3941 Stop editor jumping to previous segment when clicking verse
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/select-all.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
Due: prettier --write

SF-3941 Stop editor jumping to previous segment when clicking verse (#4151)
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/select-all.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
Due: prettier --write

SF-1515 SF-3407 SF-2161 Keep answer audio playing when the question changes remotely
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-answers.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
Due: prettier --write

SF-1515 SF-3407 SF-2161 Keep playing answer audio when question changes remotely (#4150)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-answers.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
Due: prettier --write

Update PNPM dependencies via pnpm audit --fix update
  scripts/db_tools/pnpm-lock.yaml
  src/RealtimeServer/package.json
  src/RealtimeServer/pnpm-lock.yaml
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/pnpm-lock.yaml
Due: prettier --write

Move host check to after forwarded headers are applied
  src/SIL.XForge.Scripture/Services/HostValidationApplicationBuilderExtensions.cs
  src/SIL.XForge.Scripture/Services/HostValidationServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Startup.cs
  test/SIL.XForge.Scripture.Tests/Services/HostValidationTests.cs
  test/SIL.XForge.Scripture.Tests/StartupTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Only show feedback option from draft generation page
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/UserFeedback.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix tests
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add UI for feedback
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Models/UserFeedback.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Allow empty project string
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Improvements to the UI for collecting user feedback
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Show feedback notice after user generates a new draft
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

SF-3889 Add user feedback endpoint and collection
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessApplicationBuilderExtensions.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Models/UserFeedback.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix build errors
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
Due: prettier --write

Do not reset the selected project if user projects update
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Code review fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

Move host check to after forwarded headers are applied (#4161)
  src/SIL.XForge.Scripture/Services/HostValidationApplicationBuilderExtensions.cs
  src/SIL.XForge.Scripture/Services/HostValidationServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Startup.cs
  test/SIL.XForge.Scripture.Tests/Services/HostValidationTests.cs
  test/SIL.XForge.Scripture.Tests/StartupTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Scroll the dialog on small screens
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

Improve scrolling for the feedback dialog
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
Due: prettier --write

Close connections after removing read refs for notes and questions
  src/RealtimeServer/scriptureforge/services/note-thread-service.ts
  src/RealtimeServer/scriptureforge/services/question-service.ts
Due: prettier --write

Fix offline behaviour on draft generation pending updates page
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/draft-pending-updates/draft-pending-updates.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/draft-pending-updates/draft-pending-updates.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/draft-pending-updates/draft-pending-updates.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Close connections after removing read refs for notes and questions (#4162)
  src/RealtimeServer/scriptureforge/services/note-thread-service.ts
  src/RealtimeServer/scriptureforge/services/question-service.ts
Due: prettier --write

Show lynx assessments only for users with edit rights
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.ts
Due: prettier --write

Automatically label migration ops with their version
  src/RealtimeServer/common/migration.ts
  src/RealtimeServer/common/realtime-server.spec.ts
  src/RealtimeServer/common/realtime-server.ts
  src/RealtimeServer/common/services/user-migrations.ts
  src/RealtimeServer/scriptureforge/services/note-thread-migrations.ts
  src/RealtimeServer/scriptureforge/services/question-migrations.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-migrations.ts
Due: prettier --write

Update all translation files from Crowdin
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ar.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_az.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_de.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_es.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fa.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fr.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_hi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_id.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_km.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_kyu.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_lo.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_npi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_pt_BR.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ro.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ru.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_zh_CN.json
Due: prettier --write

Update list of supported fonts
  src/SIL.XForge.Scripture/fonts.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,less,html,md,yml}
  dotnet format analyzers --include: any of: *.cs
  dotnet format style --include: any of: *.cs
  dotnet csharpier format: any of: *.cs
