Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-2156 Do not submit a zero-length retain when stripping note embeds
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text-view-model.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
Due: prettier --write

Add note to doc file
  src/RealtimeServer/common/rts-diagnostics.md
Due: prettier --write

SF-3919 Inform user what email address to look for onboarding response (#4073)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/onboarding-request.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/OnboardingRequestRpcController.cs
  src/SIL.XForge.Scripture/Services/IOnboardingRequestService.cs
  src/SIL.XForge.Scripture/Services/OnboardingRequestService.cs
  test/SIL.XForge.Scripture.Tests/Services/OnboardingRequestServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix text color on offline notice
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/notice/notice.component.scss
Due: prettier --write

Fix text color on offline notice (#4076)
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/notice/notice.component.scss
Due: prettier --write

SF-3918 Keep generated draft tab open when navigating chapters
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

rts: answer a snapshot request made on a connection that is gone
  src/RealtimeServer/common/index.ts
Due: prettier --write

rts: answer a snapshot request made on a connection that is gone (#4062)
  src/RealtimeServer/common/index.ts
Due: prettier --write

Update all translation files from Crowdin
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ar.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_az.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_de.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_es.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fa.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fr.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_hi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_id.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_km.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_kyu.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_lo.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_npi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_pt_BR.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ro.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ru.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_zh_CN.json
Due: prettier --write

SF-1119 Archive instead of delete questions when book is removed
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-1119 Archive instead of delete questions when book is removed (#4075)
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3897 Fix inconsistent Biblical terms tab date format
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/job-details-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/global-notices/global-notices.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-log/sync-log.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/editor-history.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/editor-history.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-revision-format.pipe.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/smt-retirement-notice/smt-retirement-notice.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/experimental-features/experimental-features-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/i18n.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/i18n.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/models/date-format.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/owner/owner.component.html
Due: prettier --write

SF-3897 Fix inconsistent Biblical terms tab date format (#4047)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/job-details-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/global-notices/global-notices.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-log/sync-log.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/editor-history.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/editor-history.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-revision-format.pipe.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/smt-retirement-notice/smt-retirement-notice.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/experimental-features/experimental-features-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/i18n.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/i18n.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/models/date-format.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/owner/owner.component.html
Due: prettier --write

dev: add mongodb script to count active projects
  mongodb/Projects/ActiveProjects.mongodb.js
  mongodb/Projects/annotate-test-project-reasons.py
  mongodb/Projects/determine-project-metadata.py
Due: prettier --write

Move annotate- processing into mongodb script
  mongodb/Projects/ActiveProjects.mongodb.js
  mongodb/Projects/annotate-test-project-reasons.py
  mongodb/Projects/determine-project-metadata.py
Due: prettier --write

dev: add mongodb script to count active projects (#4040)
  mongodb/Projects/ActiveProjects.mongodb.js
  mongodb/Projects/determine-project-metadata.py
Due: prettier --write

SF-3905 Use new apply draft logic in the editor draft tab
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/text-doc.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/text-doc.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-handling.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-handling.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3905 Fixes from code review
  src/SIL.XForge.Scripture/ClientApp/src/app/core/text-doc.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
Due: prettier --write

SF-3892 Upgrade Serval.Client to 1.20
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/packages.lock.json
  test/SIL.XForge.Scripture.Tests/packages.lock.json
  tools/ServalBuildReport/ServalBuildReport.csproj
  tools/ServalDownloader/ServalDownloader.csproj
Due: prettier --write

SF-3892 Migrate execution data and warnings to new model
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-build-report.ts
  src/SIL.XForge.Scripture/Models/BuildReportProblem.cs
  src/SIL.XForge.Scripture/Models/ServalBuildExecutionData.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3892 Catch task cancellation exceptions
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3892 Add export of verse confidence data
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/build-confidences-export.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/build-confidences.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.spec.ts
  src/SIL.XForge.Scripture/Models/DraftMetrics.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3892 Removed old quality estimation model
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.spec.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/build-confidences-export.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/build-confidences.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/DraftConfig.cs
  src/SIL.XForge.Scripture/Models/DraftMetrics.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3892 Implement newer build confidence system
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/_build-confidences-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-preview-books/draft-preview-books.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-preview-books/draft-preview-books.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-preview-books/draft-preview-books.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-utils.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3892 Add unit tests
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3892 Change confidence scores to 4 d.p.
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/build-confidences-export.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
Due: prettier --write

SF-3882 Remove SMT suggestions from backend
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/MachineApi.cs
  src/SIL.XForge.Scripture/Models/SFProjectCreateSettings.cs
  src/SIL.XForge.Scripture/Models/SFProjectSettings.cs
  src/SIL.XForge.Scripture/Models/SFProjectUserConfig.cs
  src/SIL.XForge.Scripture/Models/ServalBuildExecutionData.cs
  src/SIL.XForge.Scripture/Models/ServalCorpus.cs
  src/SIL.XForge.Scripture/Models/ServalData.cs
  src/SIL.XForge.Scripture/Models/SyncConfig.cs
  src/SIL.XForge.Scripture/Models/TranslateConfig.cs
  src/SIL.XForge.Scripture/Models/TranslateSource.cs
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/IMachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/PreTranslationService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge.Scripture/Services/SyncService.cs
  src/SIL.XForge.Scripture/packages.lock.json
  src/SIL.XForge/Utils/Attempt.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SyncServiceTests.cs
  test/SIL.XForge.Scripture.Tests/packages.lock.json
  tools/ServalBuildReport/ServalBuildReport.csproj
  tools/ServalDownloader/ServalDownloader.csproj
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3920 Fix event metrics not being recorded for BuildCompletedAsync
  src/SIL.XForge/EventMetrics/EventMetricLogger.cs
  src/SIL.XForge/Services/EventMetricService.cs
  test/SIL.XForge.Tests/Models/TestComplexObject.cs
  test/SIL.XForge.Tests/Services/EventMetricLoggerTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add tests
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.spec.ts
Due: prettier --write

Fix grit failure
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.spec.ts
Due: prettier --write

Initialize the date range filter to null
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

Refactor search records component
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/search-records.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/search-records.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/search-records.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

Guard against emitted invalid undefined range
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

SF-3838 Add date and search box to onboarding requests
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
Due: prettier --write

SF-3838 Add date and text filter on onboarding requests tab (#4024)
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/search-records.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/search-records.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/search-records.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

rts: add activity logging to give context for resource usage reports
  src/RealtimeServer/common/activity-logger.spec.ts
  src/RealtimeServer/common/activity-logger.ts
  src/RealtimeServer/common/diagnostics.ts
  src/RealtimeServer/common/index.ts
  src/RealtimeServer/common/interop-activity-logging.spec.ts
  src/RealtimeServer/common/interop-activity-logging.ts
  src/RealtimeServer/common/realtime-server.spec.ts
  src/RealtimeServer/common/realtime-server.ts
  src/RealtimeServer/common/resource-monitor.ts
  src/RealtimeServer/common/rts-diagnostics.md
  src/RealtimeServer/common/utils/xdg-data-path.ts
  src/RealtimeServer/common/web-socket-stream-listener.ts
Due: prettier --write

rts: rename xdg-data-path to utils
  src/RealtimeServer/common/activity-logger.ts
  src/RealtimeServer/common/resource-monitor.ts
  src/RealtimeServer/common/utils/utils.ts
Due: prettier --write

Omit op content from activity log
  src/RealtimeServer/common/realtime-server.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,less,html,md,yml}
  dotnet format analyzers --include: any of: *.cs
  dotnet format style --include: any of: *.cs
  dotnet csharpier format: any of: *.cs
