Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet csharpier

Fixed flickering on translation progress spinner
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/training-progress/training-progress.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/donut-chart/donut-chart.component.ts
Due: prettier --write

Added training progress to translate overview
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.ts
Due: prettier --write

Added training progress popup dialog border
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/training-progress/training-progress.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/training-progress/training-progress.component.scss
Due: prettier --write

Moved training progress translation suggestions
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/training-progress/training-progress.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ar.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_az.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_es.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fr.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_id.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_kyu.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_lo.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_pt_BR.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ro.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ru.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_zh_CN.json
Due: prettier --write

Simplified use of training progress component
  src/SIL.XForge.Scripture/ClientApp/src/app/core/translation-engine.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/training-progress/training-progress.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.ts
Due: prettier --write

SF-1849 Remove secondary linked account paratextId and tokens
  src/SIL.XForge/Models/User.cs
  src/SIL.XForge/Services/UserService.cs
  test/SIL.XForge.Tests/Services/UserServiceTests.cs
Due: dotnet csharpier

Source text now updates when target text changes
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Update CSharpier to 0.22
  .config/dotnet-tools.json
Due: prettier --write

Add dotnet format as a formatter with CSharpier
  .editorconfig
  .lintstagedrc.yml
  .vscode/settings.json
  README.md
  src/SIL.XForge.Scripture/ClientApp/.husky/pre-commit
Due: prettier --write

SF-1802 Throw exception when registry returns error fetching project
  src/SIL.XForge.Scripture/Services/ParatextService.cs
Due: dotnet csharpier

sync: propagate http status code to IsRegistered
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet csharpier

SF-1802 Throw exception when registry returns error fetching project (#1575)
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet csharpier

SF-1592 - Font size is not changing in the Note's text - Used project default font size for notes - Fixed inspection issue with NoteDialogComponent being declared in multiple places
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.ts
Due: prettier --write

SF-1592 Font size is not changing in the note dialog text (#1665)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.ts
Due: prettier --write

Only update PT users for resource access on sync
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet csharpier

SF-1779 Only update resource access for Paratext users on sync (#1668)
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet csharpier

Switched to AsyncKeyedLock
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/SFServiceCollectionExtensions.cs
Due: dotnet csharpier

Added basic backend SignalR implementation
  src/SIL.XForge.Scripture/Models/ProgressState.cs
  src/SIL.XForge.Scripture/Models/Sync.cs
  src/SIL.XForge.Scripture/Services/INotifier.cs
  src/SIL.XForge.Scripture/Services/NotificationHub.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge.Scripture/Services/SyncService.cs
  src/SIL.XForge.Scripture/Startup.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SyncServiceTests.cs
Due: dotnet csharpier

Added basic signalR client for sync progress
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-progress/sync-progress.component.ts
Due: prettier --write

Added project notification service, updated tests
  src/RealtimeServer/scriptureforge/models/sync.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/project-notification.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-progress/sync-progress.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-progress/sync-progress.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.spec.ts
Due: prettier --write

SignalR notifications are now project specific
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-progress/sync-progress.component.ts
  src/SIL.XForge.Scripture/Services/INotifier.cs
  src/SIL.XForge.Scripture/Services/NotificationHub.cs
  src/SIL.XForge.Scripture/Services/NotificationHubExtensions.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge.Scripture/Services/SyncService.cs
Due: prettier --write, dotnet csharpier

ProgressState Cleanup
  src/SIL.XForge.Scripture/Models/ProgressState.cs
  src/SIL.XForge.Scripture/Services/INotifier.cs
  src/SIL.XForge.Scripture/Services/NotificationHub.cs
  src/SIL.XForge.Scripture/Services/NotificationHubExtensions.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge.Scripture/Services/SyncProgress.cs
  src/SIL.XForge.Scripture/Services/SyncService.cs
Due: dotnet csharpier

Improved sync progress reporting
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
Due: dotnet csharpier

Indeterminate progress is now only shown at start
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-progress/sync-progress.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-progress/sync-progress.component.ts
Due: prettier --write

ProgressState bug fix
  src/SIL.XForge.Scripture/Models/ProgressState.cs
Due: dotnet csharpier

Changes from Code Review
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-progress/sync-progress.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-progress/sync-progress.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.spec.ts
  src/SIL.XForge.Scripture/Services/NotificationHub.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
Due: prettier --write, dotnet csharpier

SF-1844 Use SignalR for Sync Progress (#1654)
  src/RealtimeServer/scriptureforge/models/sync.ts
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/project-notification.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-progress/sync-progress.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-progress/sync-progress.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.spec.ts
  src/SIL.XForge.Scripture/Models/ProgressState.cs
  src/SIL.XForge.Scripture/Models/Sync.cs
  src/SIL.XForge.Scripture/Services/INotifier.cs
  src/SIL.XForge.Scripture/Services/NotificationHub.cs
  src/SIL.XForge.Scripture/Services/NotificationHubExtensions.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge.Scripture/Services/SyncProgress.cs
  src/SIL.XForge.Scripture/Services/SyncService.cs
  src/SIL.XForge.Scripture/Startup.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SyncServiceTests.cs
Due: prettier --write, dotnet csharpier

Source text now updates when target text changes
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Added models and logic removed from machine.js
  src/SIL.XForge.Scripture/ClientApp/src/app/core/translation-engine.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/aligned-word-pair-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-states.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/engine-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/http-client.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/phrase-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/range-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/resource-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/segment-pair-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/translation-engine-stats.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/translation-result-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/web-api-client.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/word-graph-arc-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/word-graph-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/exception-handling-service.ts
Due: prettier --write

Updated machine.js to 2.3.0
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

Combined WebApiClient into RemoteTranslationEngine
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/web-api-client.ts
Due: prettier --write

Migrated and fixed tests
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/web-api-client.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.spec.ts
Due: prettier --write

Refactored Training Progress Popup
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/training-progress/training-progress.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/training-progress/training-progress.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/training-progress/training-progress.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate.module.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,less,html,md,yml}
  dotnet csharpier: any of: *.cs
