Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier format"]

SF-3722 Fix errors on format options when no source access
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3704 Do not include deleted books in project progress
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update npm to 11.11.0
  .github/workflows/build-and-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci-lint-prettier.yml
  .github/workflows/ci-production-build.yml
  .github/workflows/codeql.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  deploy/vagrant/sfdev/Vagrantfile
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

Update CSharpier to 1.2.6
  .config/dotnet-tools.json
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Realtime/SFRealtimeServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge/DataAccess/DataAccessServiceCollectionExtensions.cs
  test/SIL.XForge.Scripture.Tests/Services/JwtTokenHelperTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SyncServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/TrainingDataServiceTests.cs
  test/SIL.XForge.Tests/DataAccess/MongoRepositoryTests.cs
  test/SIL.XForge.Tests/Realtime/ConnectionTests.cs
  test/SIL.XForge.Tests/Services/AuthServiceTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
  test/SIL.XForge.Tests/Services/ProjectServiceTests.cs
  test/SIL.XForge.Tests/Services/UserAccessorTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix CodeQL warnings
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge.Scripture/Services/SyncService.cs
  src/SIL.XForge/Services/UserService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/I18N/SharedResourceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update CSharpier to 1.2.6 (#3714)
  .config/dotnet-tools.json
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Realtime/SFRealtimeServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge/DataAccess/DataAccessServiceCollectionExtensions.cs
  test/SIL.XForge.Scripture.Tests/Services/JwtTokenHelperTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SyncServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/TrainingDataServiceTests.cs
  test/SIL.XForge.Tests/DataAccess/MongoRepositoryTests.cs
  test/SIL.XForge.Tests/Realtime/ConnectionTests.cs
  test/SIL.XForge.Tests/Services/AuthServiceTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
  test/SIL.XForge.Tests/Services/ProjectServiceTests.cs
  test/SIL.XForge.Tests/Services/UserAccessorTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix CodeQL warnings (#3713)
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge.Scripture/Services/SyncService.cs
  src/SIL.XForge/Services/UserService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/I18N/SharedResourceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update Storybook to 10.2.14
  src/SIL.XForge.Scripture/ClientApp/.storybook/tsconfig.json
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

Update Storybook to 10.2.14 (#3721)
  src/SIL.XForge.Scripture/ClientApp/.storybook/tsconfig.json
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

SF-3513 Add pre-compressed Brotli support to Kestrel
  src/SIL.XForge.Scripture/Startup.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update npm to 11.11.0 (#3720)
  .github/workflows/build-and-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci-lint-prettier.yml
  .github/workflows/ci-production-build.yml
  .github/workflows/codeql.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  deploy/vagrant/sfdev/Vagrantfile
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

SF-3513 Add pre-compressed Brotli support to Kestrel
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge.Scripture/packages.lock.json
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3733 Always show admins the number of unread answers
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-questions/checking-questions.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
Due: prettier --write

Update suggested onboarding command
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
Due: prettier --write

SF-3727 Do not show the New Draft button until USFM options configured
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

SF-3713 Allow importing notes that have note tag changes
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.ts
Due: prettier --write

Update suggested onboarding command (#3723)
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
Due: prettier --write

Change import wording to "Add to a project"
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/generate-draft.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/localized-screenshots.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Change import wording to "Add to a project" (#3724)
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/generate-draft.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/localized-screenshots.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3734 Store the last selected project for the import draft wizard
  src/RealtimeServer/scriptureforge/models/sf-project-user-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard-component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/Models/SFProjectUserConfig.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3734 Store the last selected project for the import draft wizard
  src/RealtimeServer/scriptureforge/models/sf-project-user-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard-component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.stories.ts
  src/SIL.XForge.Scripture/Models/SFProjectUserConfig.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix CodeQL warning: Log entries created from user input
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3734 Store the last selected project for the import draft wizard (#3725)
  src/RealtimeServer/scriptureforge/models/sf-project-user-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard-component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.stories.ts
  src/SIL.XForge.Scripture/Models/SFProjectUserConfig.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3513 Add pre-compressed Brotli support to Kestrel (#3722)
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge.Scripture/packages.lock.json
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add Serval builds tab
  .vscode/settings.json
  AGENTS.md
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/_serval-builds-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs-export.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs-export.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-build-report.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-build-report.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds-statistics.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-options.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/material-styles.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/copy/copy.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/copy/copy.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/copy/copy.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/copy/copy.component.ts
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Models/DraftGenerationBuildStatus.cs
  src/SIL.XForge.Scripture/Models/MachineApi.cs
  src/SIL.XForge.Scripture/Models/ServalBuildAdditionalInfo.cs
  src/SIL.XForge.Scripture/Models/ServalBuildDto.cs
  src/SIL.XForge.Scripture/Models/ServalBuildExecutionData.cs
  src/SIL.XForge.Scripture/Models/ServalBuildReportDto.cs
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format
