Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier format"]

Tidied up much of the error handling (AI slop)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.ts
Due: prettier --write

Front end tests
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/paratext.service.ts
Due: prettier --write

Potential fix for code scanning alert no. 1252: Missed opportunity to use Where
  test/SIL.XForge.Scripture.Tests/Services/NotesFormatterTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Potential fix for code scanning alert no. 1251: Missed opportunity to use Where
  src/SIL.XForge.Scripture/Services/NotesFormatter.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fixed broken tests
  test/SIL.XForge.Scripture.Tests/Services/ParatextDataHelperTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Revert "A couple renames" (only the big one)
  src/RealtimeServer/scriptureforge/models/question.ts
  src/RealtimeServer/scriptureforge/services/question-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.ts
  src/SIL.XForge.Scripture/Models/Question.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Updating notes for all books, even if they don't have questions
  src/SIL.XForge.Scripture/Controllers/ParatextController.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3673 Fix error message when user joins a project without permission
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
Due: prettier --write

Fix Material non-primary themes
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/themes/_default.scss
  src/SIL.XForge.Scripture/ClientApp/src/themes/themes.scss
Due: prettier --write

Fix Material non-primary themes (#3621)
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/themes/_default.scss
  src/SIL.XForge.Scripture/ClientApp/src/themes/themes.scss
Due: prettier --write

Code review fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
Due: prettier --write

SF-3674 Remove new draft history feature flag
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
Due: prettier --write

SF-3674 Don't show the apply draft button if the selected draft is empty
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
Due: prettier --write

SF-3674 Code review updates
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
Due: prettier --write

Automate npm audit fix via daily GitHub Action
  .github/workflows/update-npm-audit.yml
Due: prettier --write

SF-3686 Enable SignalR reconnection with state keeping
  src/SIL.XForge.Scripture/ClientApp/src/app/core/project-notification.service.ts
  src/SIL.XForge.Scripture/Startup.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3686 Release SignalR notification handlers
  src/SIL.XForge.Scripture/ClientApp/src/app/core/project-notification.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-progress/sync-progress.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.ts
Due: prettier --write

SF-3673 Fix error message when user joins a project without permission (#3653)
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
Due: prettier --write

Add endpoint to map paratextID to project IDs
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add endpoint to map paratextId to project ID (#3656)
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add script and GitHub action to update files in Crowdin
  .github/workflows/e2e-tests.yml
  .github/workflows/push-changes-to-crowdin.yml
  .github/workflows/update-font-list.yml
  .github/workflows/update-localizations.yml
  scripts/push_changes_to_crowdin.mts
Due: prettier --write

Update onboarding form to be compatible with new progress service
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-onboarding-form.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-onboarding-form.component.ts
Due: prettier --write

Disable broken tests
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-apply-dialog/draft-apply-dialog.component.spec.ts
Due: prettier --write

Add notice that draft detail component is unsupported on mobile
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
Due: prettier --write

Fix bug
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-apply-dialog/draft-apply-dialog.component.ts
Due: prettier --write

Add submitting state to onboarding form
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-onboarding-form.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-onboarding-form.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-onboarding-form.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Changes from code review
  scripts/db_tools/parse-version.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/test_characterization.json
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-onboarding-form.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-onboarding-form.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/drafting-signup.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/notice.service.ts
  src/SIL.XForge.Scripture/Controllers/OnboardingRequestRpcController.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Models/OnboardingRequest.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Improve type handling for onboarding request resolutions
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-constants.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/drafting-signup.service.ts
Due: prettier --write

SF-3674 Don't show the apply draft button if the selected draft is empty (#3650)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
Due: prettier --write

SF-3669 Fix chapter select is blank on draft formatting page (#3649)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
Due: prettier --write
