Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add roles location to external url service
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/notice/notice.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/notice/notice.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/external-url.service.ts
Due: prettier --write

Add additional tab options
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/notice/notice.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/notice/notice.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/notice/notice.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-1989 Update users table to material
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/ui-common.module.ts
Due: prettier --write

SF-2010 Changes for PR comments
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-delete-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-delete-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-delete-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-delete-dialog.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-projects.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-projects.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-users.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-users.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-users.component.ts
Due: prettier --write

SF-1998 Fix help links
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/external-url.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/external-url.service.ts
  src/SIL.XForge.Scripture/locales.json
Due: prettier --write

SF-1998 Fix help links (#1823)
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/external-url.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/external-url.service.ts
  src/SIL.XForge.Scripture/locales.json
Due: prettier --write

Show label when no users match the tab or filter
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/notice/notice.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/notice/notice.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.ts
Due: prettier --write

Move styles to collaborators component and remove mat-divider
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/notice/notice.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.scss
Due: prettier --write

SF-1896 Scroll FAB button with the editor
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Add mat hint to the no users label
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.html
Due: prettier --write

SF-2013 Convert error dialog to material
  src/SIL.XForge.Scripture/ClientApp/src/app/app.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/mdc-dialog.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/error-dialog/error-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/error-dialog/error-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/error-dialog/error-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/error-dialog/error-dialog.component.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/error-dialog/error-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/error/error.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/error/error.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/error/error.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/error/error.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/exception-handling-service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/exception-handling-service.ts
Due: prettier --write

SF-2013 Convert error dialog to material
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/exception-handling-service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/exception-handling-service.ts
Due: prettier --write

SF-2014 Convert checking comment form to Material (#1844)
  .vscode/settings.json
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-comments/checking-comment-form/checking-comment-form.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-comments/checking-comment-form/checking-comment-form.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-comments/checking-comment-form/checking-comment-form.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-comments/checking-comment-form/checking-comment-form.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
Due: prettier --write

SF-2002 Create SF user label only for user IDs without a paratext role (#1835)
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix note anchors not updated after notes loaded (#1833)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Make Codecov checks informational only (#1849)
  codecov.yml
Due: prettier --write

SF-2010 changes from linter
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-projects.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-users.component.ts
Due: prettier --write

Added V3 Machine API with Serval support
  src/SIL.XForge.Scripture/Controllers/MachineApiV2Controller.cs
  src/SIL.XForge.Scripture/Models/MachineApiV2.cs
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiV2ControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Code Review fixes
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Updated machine.js to 2.4.1
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/translation-result-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Fixes and clean ups of the new Serval Integration
  src/SIL.XForge.Scripture/Services/MachineAuthorizationHandler.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge.Scripture/appsettings.Development.json
  src/SIL.XForge.Scripture/appsettings.Staging.json
  src/SIL.XForge.Scripture/appsettings.Testing.json
  src/SIL.XForge.Scripture/appsettings.json
  src/SIL.XForge/Configuration/ConfigurationServiceCollectionExtensions.cs
  src/SIL.XForge/Configuration/ServalOptions.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Updated Migrator to use Serval
  src/Migrations/ServalMigration/MigratorFeatureSessionManager.cs
  src/Migrations/ServalMigration/Program.cs
  src/Migrations/ServalMigration/Properties/launchSettings.json
  src/Migrations/ServalMigration/ServalMigration.csproj
  src/Migrations/ServalMigration/ServalMigration.sln
  src/Migrations/ServalMigration/ServalMigrator.cs
  src/Migrations/ServalMigration/Startup.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fixed: Incorrect Confidence value
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fixed bugs with the Serval Client and Tests
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/appsettings.Staging.json
  src/SIL.XForge.Scripture/appsettings.json
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Migrated back end to Serval Client
  src/SIL.XForge.Scripture/ClientApp/src/app/core/translation-engine.service.ts
  src/SIL.XForge.Scripture/Models/FeatureFlags.cs
  src/SIL.XForge.Scripture/Models/MachineApi.cs
  src/SIL.XForge.Scripture/Models/MachineApiCorpusFile.cs
  src/SIL.XForge.Scripture/Models/MachineApiTranslationEngine.cs
  src/SIL.XForge.Scripture/Models/MachineCorpus.cs
  src/SIL.XForge.Scripture/Models/SFProjectSecret.cs
  src/SIL.XForge.Scripture/Models/ServalCorpus.cs
  src/SIL.XForge.Scripture/Models/ServalCorpusFile.cs
  src/SIL.XForge.Scripture/Models/ServalData.cs
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/IMachineBuildService.cs
  src/SIL.XForge.Scripture/Services/IMachineCorporaService.cs
  src/SIL.XForge.Scripture/Services/IMachineTranslationService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineBuildService.cs
  src/SIL.XForge.Scripture/Services/MachineCorporaService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineServiceBase.cs
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/MachineTranslationService.cs
  src/SIL.XForge.Scripture/appsettings.json
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineBuildServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineCorporaServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineTranslationServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ServalApiExceptions.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fixed change detection for suggestions
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Updated frontend to use new Machine.js library
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/src/app/core/translation-engine.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/http-client.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/phrase-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/range-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/segment-pair-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/translation-result-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/translation-source.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/word-graph-arc-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/word-graph-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translate-metrics-session.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/exception-handling-service.spec.ts
Due: prettier --write

Code Review Fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/core/translation-engine.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2021: Note tags are not updated on every sync
  src/SIL.XForge.Scripture/Services/ChapterEqualityComparer.cs
  src/SIL.XForge.Scripture/Services/DictionaryComparer.cs
  src/SIL.XForge.Scripture/Services/NoteTagEqualityComparer.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Services/ChapterEqualityComparerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/DictionaryComparerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/NoteTagEqualityComparerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Only sync books that can be edited in SF to PT
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Update modified books, notes & permissions in SF
  src/SIL.XForge.Scripture/Models/ParatextSyncResults.cs
  src/SIL.XForge.Scripture/Models/SyncMetrics.cs
  src/SIL.XForge.Scripture/Services/IParatextDataHelper.cs
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextDataHelper.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Models/ParatextSyncResultsTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Added Paratext Repo Info Tool
  tools/RepoInfo/Program.cs
  tools/RepoInfo/RepoInfo.csproj
  tools/RepoInfo/RepoInfo.sln
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-1960 - Set display name when a user signs up with a phone number - Update name, nickname, avatar on Auth0 profile if set to phone_number
  src/SIL.XForge/Services/AuthService.cs
  src/SIL.XForge/Services/IAuthService.cs
  src/SIL.XForge/Services/UserService.cs
  test/SIL.XForge.Tests/Services/UserServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2021 Note tags are no longer updated on every sync (#1847)
  src/SIL.XForge.Scripture/Services/ChapterEqualityComparer.cs
  src/SIL.XForge.Scripture/Services/DictionaryComparer.cs
  src/SIL.XForge.Scripture/Services/NoteTagEqualityComparer.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Services/ChapterEqualityComparerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/DictionaryComparerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/NoteTagEqualityComparerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

- Adjustments after rebasing
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

- Increase max users to 250 - Created promise to resolve in auth service once a users is confirmed as being logged in
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/join/join.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth.service.ts
  src/SIL.XForge.Scripture/Models/SFProject.cs
  src/SIL.XForge/Services/UserService.cs
  test/SIL.XForge.Scripture.Tests/Services/AnonymousServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,less,html,md,yml}
  dotnet format analyzers --include: any of: *.cs
  dotnet format style --include: any of: *.cs
  dotnet csharpier: any of: *.cs
