Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier format"]

BB standalone false
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/bubble-button/bubble-button.directive.ts
Due: prettier --write

nmsl
  test/SIL.XForge.Scripture.Tests/StartupTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

some pos changes for Startup.cs
  src/SIL.XForge.Scripture/Startup.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Test
  test/SIL.XForge.Scripture.Tests/StartupTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

spa 3rdpartylicenses
  test/SIL.XForge.Scripture.Tests/StartupTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Use --mat-sys-error and --mat-sys-on-error
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.scss
Due: prettier --write

Prettier formatting
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/job-events-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-insight-editor-objects/lynx-insight-editor-objects.component.spec.ts
Due: prettier --write

Test churn
  src/SIL.XForge.Scripture/Startup.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

simplify
  src/SIL.XForge.Scripture/Startup.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

fix material sys-primary style ref
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-insight-status-indicator/lynx-insight-status-indicator.component.scss
Due: prettier --write

change web worker SPA route for new ng application builder worker names
  src/SIL.XForge.Scripture/Startup.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

no longer used: runtime.js, vendor.js
  src/SIL.XForge.Scripture/Startup.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

nmsl
  src/SIL.XForge.Scripture/Startup.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

more spa logging
  src/SIL.XForge.Scripture/Startup.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Testing paths
  test/SIL.XForge.Scripture.Tests/StartupTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

fix rebase error
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-insights.module.ts
Due: prettier --write

refactor and add migration test
  src/RealtimeServer/scriptureforge/models/lynx-config.ts
  src/RealtimeServer/scriptureforge/models/lynx-insight-user-data.ts
  src/RealtimeServer/scriptureforge/models/sf-project-user-config-test-data.ts
  src/RealtimeServer/scriptureforge/models/sf-project-user-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.spec.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-migrations.spec.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-migrations.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.ts
  src/SIL.XForge.Scripture/Models/LynxConfig.cs
  src/SIL.XForge.Scripture/Models/LynxInsightUserData.cs
  src/SIL.XForge.Scripture/Models/LynxUserConfig.cs
  src/SIL.XForge.Scripture/Models/SFProjectUserConfig.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

rename 'suggestions settings' to 'translator settings'
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

add lynx user settings to translator settings
  src/RealtimeServer/scriptureforge/models/lynx-config.ts
  src/RealtimeServer/scriptureforge/models/sf-project-user-config-test-data.ts
  src/RealtimeServer/scriptureforge/models/sf-project-user-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-migrations.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translator-settings-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Models/LynxUserConfig.cs
  src/SIL.XForge.Scripture/Models/SFProjectUserConfig.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3538 Auto select complete books for training
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

SF-3538 Add a notice that says books were auto selected for training
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

ensure translation settings button shows when no source if lynx enabled
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Remove exclusion of some files from promise linting (#3429)
  src/RealtimeServer/.eslintrc.json
  src/RealtimeServer/scriptureforge/services/note-thread-service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/.eslintrc.json
Due: prettier --write

use 'Insights' instead of 'Lynx' for user-facing text; change 'latin-only' to under checkbox descriptions and make more accurate;
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Added format USFM to draft tab
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Vertical alignment
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.scss
Due: prettier --write

Feature flag
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
Due: prettier --write

Disable formatting button if draft isn't latest
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Navigating to previous page, instead of always draft gen home
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
Due: prettier --write

Added book and chapter to the formatting URL page
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-routing.module.ts
Due: prettier --write

Wrap apply draft buttons (for small screens)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.scss
Due: prettier --write

SF-3529 Add format USFM to draft tab (#3406)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-routing.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Used lodash
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

Fix sources changed warning
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

Moved project display names into the init handler
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

SF-3544 Fix sources changed warning (#3420)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

smart quotes and 'lynx' to 'insights' in translation file
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write
