Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

serval-admin: serval-builds: add training column before source
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

serval-admin: serval-builds: add training column before source (#3887)
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

Add test for total and unique
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
Due: prettier --write

Rephrase
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

serval-admin: serval-builds: stats: add translation book totals
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds-statistics.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

serval-admin: serval-builds: stats: add translation book totals (#3890)
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds-statistics.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

Update NPM dependencies via npm audit fix
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
Due: prettier --write

Update Angular dependencies to v20-lts
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

Update to ParatextData 9.6 Beta
  .vscode/launch.json
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/packages.lock.json
  test/SIL.XForge.Scripture.Tests/packages.lock.json
  tools/CommentGenerator/CommentGenerator.csproj
  tools/CommitGenerator/CommitGenerator.csproj
  tools/RepoInfo/RepoInfo.csproj
  tools/Roundtrip/Program.cs
  tools/Roundtrip/Roundtrip.csproj
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Allow any arguments for roundtrip tool
  tools/Roundtrip/Program.cs
  tools/Roundtrip/README.md
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add initial support for USFM 3.1
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/usfm-style-descriptions.ts
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/ParatextDataHelper.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/usfm3_1.sty
  src/SIL.XForge.Scripture/usfm_sb3_1.sty
  src/SIL.XForge.Scripture/usx-sf.rnc
  src/SIL.XForge.Scripture/usx-sf.xsd
  src/SIL.XForge.Scripture/usx.rnc
  tools/Roundtrip/Roundtrip.csproj
  tools/Roundtrip/usfm3_1.sty
  tools/Roundtrip/usx-sf.xsd
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update Docker and Ansible to support Paratext 9.6
  .devcontainer/Dockerfile
  deploy/dev-server.playbook.yml
  src/SIL.XForge.Scripture/Dockerfile
Due: prettier --write

Return Confidence Interval in Pre-translations
  src/SIL.XForge.Scripture/Models/PreTranslation.cs
  src/SIL.XForge.Scripture/Services/PreTranslationService.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add model for draft metrics
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessApplicationBuilderExtensions.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Models/DraftMetrics.cs
  src/SIL.XForge.Scripture/Models/VerseRefData.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Calculate and store draft metrics
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add API for the frontend to retrieve confidence scores
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Models/DraftMetrics.cs
  src/SIL.XForge.Scripture/Models/MachineApi.cs
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Modify builds since API to include confidences
  src/SIL.XForge.Scripture/Models/ServalBuildReportDto.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Clean up and add missing Machine API Controller Tests
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Display confidence data and allow export on the Serval Admin page
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/base-export-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/build-confidences-export.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs-export.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-build-report.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/_build-confidences-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/build-confidences.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/material-styles.scss
Due: prettier --write

simplify tests
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft-logic-handler.spec.ts
Due: prettier --write

wip
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft-logic-handler.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/scripture-range.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/scripture-range.ts
Due: prettier --write

implement support for selecting partial books for drafting
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft-logic-handler.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft-logic-handler.ts
Due: prettier --write

wip 5 passing tests
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/progress-service/progress.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft-logic-handler.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft-logic-handler.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/scripture-range.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/scripture-range.ts
Due: prettier --write

wip partial book drafting
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft-logic-handler.ts
Due: prettier --write

Removed redundant remoteChanges$
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

Cleanup
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
Due: prettier --write

serval-admin: serval-builds: show requester email in build details
  src/RealtimeServer/common/services/user-service.spec.ts
  src/RealtimeServer/common/services/user-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

Handle display name and email address nullability more uniformly
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

Fix merge call
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

serval-admin: serval-builds: show requester email in build details (#3860)
  src/RealtimeServer/common/services/user-service.spec.ts
  src/RealtimeServer/common/services/user-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

implement support for selecting part of a book for drafting
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft-logic-handler.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft-logic-handler.ts
Due: prettier --write

Add initial new draft component
  src/SIL.XForge.Scripture/ClientApp/src/app/app.routes.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft-logic-handler.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/new-draft/new-draft.component.ts
Due: prettier --write

Update NPM dependencies via npm audit fix
  scripts/db_tools/package-lock.json
  src/RealtimeServer/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
Due: prettier --write

serval-admin: serval-builds: show Problems
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-build-problems-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-build-problems-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-build-problems-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-build-problems-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-build-report.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
  src/SIL.XForge.Scripture/Models/BuildReportProblem.cs
  src/SIL.XForge.Scripture/Models/ServalBuildExecutionData.cs
  src/SIL.XForge.Scripture/Models/ServalBuildReportDto.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Extract strings
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
Due: prettier --write

Name the types
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

rm comments
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-build-problems-dialog.component.ts
Due: prettier --write

Rename to ExtractProblems
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Adjust names
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,less,html,md,yml}
  dotnet format analyzers --include: any of: *.cs
  dotnet format style --include: any of: *.cs
  dotnet csharpier format: any of: *.cs
