Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier"]

Always return translation engine Id in additional info
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Allow non-verse segments on the frontend
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.ts
  src/SIL.XForge.Scripture/Services/PreTranslationService.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2411 Restrict resolve option on dialog when restricted tags used
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/note-thread-doc.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/note-thread-doc.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.ts
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Migrate note tag creatorResolve property to be true
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.spec.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/note-thread-doc.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/note-thread-doc.ts
Due: prettier --write

Default active tag to the to do tag
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/note-thread-doc.ts
Due: prettier --write

Enable Serval support across all environments
  src/SIL.XForge.Scripture/appsettings.json
Due: prettier --write

SF-2388 Update to RxJS 7
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/anonymous.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth-http-interceptor.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth0.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth0.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/command.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/file.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/sharedb-realtime-remote-store.ts
Due: prettier --write

Remove unneeded discardPeriodicTasks() from app component tests & address code review changes
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth.service.ts
Due: prettier --write

Enable Serval support across all environments (#2252)
  src/SIL.XForge.Scripture/appsettings.json
Due: prettier --write

Code review fixes
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.ts
Due: prettier --write

SF-2412 Overwriting audio timing data doesn't parse correctly
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/chapter-audio-dialog/chapter-audio-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/chapter-audio-dialog/chapter-audio-dialog.component.ts
Due: prettier --write

SF-2412 Fix updating of audio timing data (#2245)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/chapter-audio-dialog/chapter-audio-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/chapter-audio-dialog/chapter-audio-dialog.component.ts
Due: prettier --write

Fix alignment in BookChapterChooser component
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-chapter-chooser/book-chapter-chooser.component.scss
Due: prettier --write

SF-2410 Add Send All Segments for Pre-Translation setting
  src/RealtimeServer/scriptureforge/models/sf-project-test-data.ts
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.spec.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/sf-project-settings.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/DraftConfig.cs
  src/SIL.XForge.Scripture/Models/SFProjectSettings.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFScriptureText.cs
  src/SIL.XForge.Scripture/Services/SFTextCorpusFactory.cs
  test/SIL.XForge.Scripture.Tests/Services/SFScriptureTextTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2429 Allow creating quick translation draft builds
  scripts/db_tools/parse-version.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/feature-flags/feature-flag.service.ts
  src/SIL.XForge.Scripture/Models/BuildConfig.cs
  src/SIL.XForge.Scripture/Services/BuildConfigJsonConverter.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/BuildConfigJsonConverterTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix alignment in BookChapterChooser component (#2253)
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-chapter-chooser/book-chapter-chooser.component.scss
Due: prettier --write

Remove online status and enhance stories
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.stories.ts
Due: prettier --write

Remove obsolete AvatarTestingModule
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar-testing.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar-testing.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/owner/owner.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-delete-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-delete-dialog.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-users.component.spec.ts
Due: prettier --write

SF-2337 Replace ngx-avatar with custom component
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/multi-viewer/multi-viewer.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/users/roles-and-permissions/roles-and-permissions-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/owner/owner.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/owner/owner.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-delete-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-users.component.html
Due: prettier --write

Move 'online status' indicator responsibility to parent component
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.ts
Due: prettier --write

WIP new avatar component
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/src/app/app.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/users/users.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/xforge-common.module.ts
Due: prettier --write

Fixed broken tests
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate.module.ts
Due: prettier --write

Added endpoint to get changes as points in time
  src/RealtimeServer/common/index.ts
  src/RealtimeServer/common/realtime-server.ts
  src/RealtimeServer/typings/sharedb/index.d.ts
  src/SIL.XForge.Scripture/Controllers/ParatextController.cs
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge/Realtime/Connection.cs
  src/SIL.XForge/Realtime/IConnection.cs
  src/SIL.XForge/Realtime/IRealtimeServer.cs
  src/SIL.XForge/Realtime/IntegerToUtcDateTimeConverter.cs
  src/SIL.XForge/Realtime/MemoryConnection.cs
  src/SIL.XForge/Realtime/Op.cs
  src/SIL.XForge/Realtime/OpMetadata.cs
  src/SIL.XForge/Realtime/RealtimeServer.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add API to Get History from ShareDB and Paratext
  src/RealtimeServer/common/index.ts
  src/SIL.XForge.Scripture/Controllers/ParatextController.cs
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge/Realtime/Connection.cs
  src/SIL.XForge/Realtime/IConnection.cs
  src/SIL.XForge/Realtime/IRealtimeServer.cs
  src/SIL.XForge/Realtime/MemoryConnection.cs
  src/SIL.XForge/Realtime/RealtimeServer.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Added RepoInfo Tool
  tools/RepoInfo/Program.cs
  tools/RepoInfo/RepoInfo.csproj
  tools/RepoInfo/RepoInfo.sln
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Improve versioning manager cache use
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add backend unit tests
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge/Realtime/IntegerToUtcDateTimeConverter.cs
  src/SIL.XForge/Realtime/MemoryConnection.cs
  test/SIL.XForge.Scripture.Tests/Controllers/ParatextControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Tests/Realtime/ConnectionTests.cs
  test/SIL.XForge.Tests/Realtime/IntegerToUtcDateTimeConverterTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Code review fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/core/paratext.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.ts
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge/Realtime/Connection.cs
  src/SIL.XForge/Realtime/IntegerToUtcDateTimeConverter.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Localized the date strings
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.ts
Due: prettier --write

Add frontend tests
  src/SIL.XForge.Scripture/ClientApp/src/app/core/paratext.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.spec.ts
Due: prettier --write

Reformat with CSharpier
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/ParatextControllerTests.cs
  test/SIL.XForge.Tests/Realtime/ConnectionTests.cs
  tools/RepoInfo/Program.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Bug fixes
  src/SIL.XForge.Scripture/ClientApp/src/_text.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.html
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Add Chapter History Diff
  src/SIL.XForge.Scripture/ClientApp/src/_text.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-scripture.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text-view-model.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Initial View History UI
  src/SIL.XForge.Scripture/ClientApp/src/app/core/paratext.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/history-chooser/history-chooser.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Bug fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Code review fixes
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/Services/PreTranslationService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier
