Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet csharpier

Added HTTP client retry & circuit breaker policies
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
Due: dotnet csharpier

Added build status and cancellation C# endpoints
  src/SIL.XForge.Scripture/Models/MachineBuildJob.cs
  src/SIL.XForge.Scripture/Services/IMachineBuildService.cs
  src/SIL.XForge.Scripture/Services/MachineBuildService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineBuildServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet csharpier

Added translation C# API endpoints
  src/SIL.XForge.Scripture/Services/IMachineTranslationService.cs
  src/SIL.XForge.Scripture/Services/MachineTranslationService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineTranslationServiceTests.cs
Due: dotnet csharpier

Bug fixes, code clean up, and refactoring
  src/SIL.XForge.Scripture/Models/MachineApiCorpusFile.cs
  src/SIL.XForge.Scripture/Models/MachineBuildJob.cs
  src/SIL.XForge.Scripture/Services/IMachineBuildService.cs
  src/SIL.XForge.Scripture/Services/MachineBuildService.cs
  src/SIL.XForge.Scripture/Services/MachineCorporaService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineServiceBase.cs
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/MachineTranslationService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineBuildServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineCorporaServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineTranslationServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MockExceptionHandler.cs
  test/SIL.XForge.Scripture.Tests/Services/MockHttpMessageHandler.cs
Due: dotnet csharpier

Fixed LGTM issue with StringBuilder
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
Due: dotnet csharpier

Fixed test failing on Linux
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet csharpier

Code refactoring & added GetTranslationEngineAsync
  src/SIL.XForge.Scripture/Models/MachineApiTranslationEngine.cs
  src/SIL.XForge.Scripture/Services/IMachineCorporaService.cs
  src/SIL.XForge.Scripture/Services/IMachineTranslationService.cs
  src/SIL.XForge.Scripture/Services/MachineCorporaService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineTranslationService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineCorporaServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineTranslationServiceTests.cs
Due: dotnet csharpier

Removed unnecessary realtime service connection
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
Due: dotnet csharpier

Unit test clean up
  test/SIL.XForge.Scripture.Tests/Services/MachineBuildServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineCorporaServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineTranslationServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SyncServiceTests.cs
Due: dotnet csharpier

API inter-versional compatibility fixes
  src/SIL.XForge.Scripture/Services/MachineBuildService.cs
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineBuildServiceTests.cs
Due: dotnet csharpier

Removed unnecessary BuildProjectAsync parameter
  src/SIL.XForge.Scripture/Services/IMachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet csharpier

Minor consistency cleanups
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineServiceBase.cs
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
Due: dotnet csharpier

Renamed In Memory Machine to In Process Machine
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet csharpier

- Catch checkForUpdate errors when service workers aren't supported - helps localhost when PWA is not setup - Updated all tests to be fakeAsync to make it easier to dispose timers
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.ts
Due: prettier --write

Clean up
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.ts
Due: prettier --write

SF-1791 - Fix UpdateAvailableEvent deprecation in PWA service - Removed deprecated event with version updates - Added a timer to check for new updates rather than just on load
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.ts
Due: prettier --write

- Added test to ensure hasUpdate emits an expected event
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.ts
Due: prettier --write

SF-1821 Confirm before deleting answers
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-answers.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-answers.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/dialog.service.ts
Due: prettier --write

SF-1821 Confirm before deleting answers (#1606)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-answers.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-answers.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/dialog.service.ts
Due: prettier --write

Use the same keys for filtering as for i18n
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/i18n.service.ts
Due: prettier --write

- Unsubscribe from check for updates timer on dispose
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.ts
Due: prettier --write

Clean up
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.spec.ts
Due: prettier --write

SF-1791 Fix UpdateAvailableEvent deprecation in PWA service (#1622)
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-combined/checking-audio-combined.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player/checking-audio-player.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player/checking-audio-player.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-recorder/checking-audio-recorder.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-text/checking-text.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/question-dialog/question-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/translation-engine.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/project/project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/project/project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-control.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-control.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/text-chooser-dialog/text-chooser-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/suggestions-settings-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/suggestions-settings-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translate-metrics-session.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/users/collaborators/collaborators.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/file.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/file.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/pwa.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/retrying-request.service.ts
Due: prettier --write

- Changed marked for export value - Fix for answer status check
  src/RealtimeServer/scriptureforge/models/checking-config.ts
  src/SIL.XForge.Scripture/Models/CheckingAnswerExport.cs
  src/SIL.XForge.Scripture/Services/ParatextNotesMapper.cs
Due: prettier --write, dotnet csharpier

Clean up
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/Services/ParatextNotesMapper.cs
Due: prettier --write, dotnet csharpier

- Changed question filter to None but displayed as Show All
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-questions/checking-questions.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
Due: prettier --write

- Converted MDC to Material - Check permission rather than role for question filters - Clean up
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
Due: prettier --write

Clean up realtime server
  src/RealtimeServer/scriptureforge/services/note-thread-service.spec.ts
  src/RealtimeServer/scriptureforge/services/question-service.spec.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.spec.ts
  src/RealtimeServer/scriptureforge/services/text-service.spec.ts
Due: prettier --write

Updated translations
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-questions/checking-questions.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,less,html,md,yml}
  dotnet csharpier: any of: *.cs
