Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier"]

Code review fixes
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

Verify migrations have monotonically increasing version numbers
  src/RealtimeServer/common/migration.ts
  src/RealtimeServer/common/services/user-migrations.ts
  src/RealtimeServer/scriptureforge/services/biblical-term-migrations.ts
  src/RealtimeServer/scriptureforge/services/note-thread-migrations.ts
  src/RealtimeServer/scriptureforge/services/question-migrations.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-migrations.ts
  src/RealtimeServer/scriptureforge/services/text-audio-migrations.ts
  src/RealtimeServer/scriptureforge/services/text-migrations.ts
  src/RealtimeServer/scriptureforge/services/training-data-migrations.ts
Due: prettier --write

Verify migrations have monotonically increasing version numbers (#2916)
  src/RealtimeServer/common/migration.ts
  src/RealtimeServer/common/services/user-migrations.ts
  src/RealtimeServer/scriptureforge/services/biblical-term-migrations.ts
  src/RealtimeServer/scriptureforge/services/note-thread-migrations.ts
  src/RealtimeServer/scriptureforge/services/question-migrations.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-migrations.ts
  src/RealtimeServer/scriptureforge/services/text-audio-migrations.ts
  src/RealtimeServer/scriptureforge/services/text-migrations.ts
  src/RealtimeServer/scriptureforge/services/training-data-migrations.ts
Due: prettier --write

Add support for fetching pretranslations as USX
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Models/MachineApi.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Correctly handle Paratext projects newer than the supported version
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Update ParatextData to 9.5.0.8
  src/Migrations/BackoutCommits/BackoutCommits.csproj
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/NotesFormatter.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/DeltaUsxMapperTests.cs
  tools/CommentGenerator/CommentGenerator.csproj
  tools/RepoInfo/RepoInfo.csproj
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Replaced toPromise with lastValueFrom
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/question-dialog/question-dialog.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/project/project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/page-not-found/page-not-found.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/dialog.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/retrying-request.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/testing-retrying-request.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/user.service.ts
Due: prettier --write

Fixed tests
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
Due: prettier --write

Upgraded old subscribe calls to use observers
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/subscription-disposable.ts
Due: prettier --write

SF-3121 Upgrade old subscribe calls to use observers (#2920)
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/subscription-disposable.ts
Due: prettier --write

Using lambda in all throwError calls
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
Due: prettier --write

SF-3122 Use lambda in all throwError calls (#2919)
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
Due: prettier --write

Chapter audio only hides bottom bar if scripture text is shown
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
Due: prettier --write

SF-3114 Chapter audio only hides bottom bar if scripture text is shown (#2905)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
Due: prettier --write

Help video page
  src/SIL.XForge.Scripture/ClientApp/src/app/app-routing.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/help-video.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/help-videos/help-videos.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/help-videos/help-videos.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/help-videos/help-videos.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/help-videos/help-videos.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-help-video-tab/sa-help-videos-dialog/sa-help-videos-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-help-video-tab/sa-help-videos-dialog/sa-help-videos-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-help-video-tab/sa-help-videos-dialog/sa-help-videos-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-help-video-tab/sa-help-videos-dialog/sa-help-videos-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-help-video-tab/sa-help-videos.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-help-video-tab/sa-help-videos.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-help-video-tab/sa-help-videos.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-help-video-tab/sa-help-videos.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/system-administration.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/xforge-common.module.ts
  src/SIL.XForge.Scripture/Controllers/SystemAdministrationController.cs
  src/SIL.XForge.Scripture/Services/ISystemAdministrationService.cs
  src/SIL.XForge.Scripture/Services/SFServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/SystemAdministrationService.cs
  src/SIL.XForge/Controllers/UrlConstants.cs
  src/SIL.XForge/DataAccess/DataAccessApplicationBuilderExtensions.cs
  src/SIL.XForge/DataAccess/DataAccessServiceCollectionExtensions.cs
  src/SIL.XForge/Models/HelpVideo.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add message on certain pages about mobile not being supported
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/mobile-not-supported/mobile-not-supported.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/mobile-not-supported/mobile-not-supported.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/system-administration.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/xforge-common.module.ts
Due: prettier --write

dev: incorporate dep ansible into dev-server playbook
  deploy/dependencies.yml
  deploy/dev-server.playbook.yml
Due: prettier --write

dev: delint ansible
  deploy/dependencies.yml
  deploy/vars/os_defaults.yml
Due: prettier --write

dev: remove more ansible lint
  deploy/dependencies.yml
  deploy/dev-server.playbook.yml
Due: prettier --write

dev: update mongodb ansible
  deploy/dev-server.playbook.yml
Due: prettier --write

dev: improve dev server ansible playbook file naming
  deploy/dev-server.playbook.yml
Due: prettier --write

dev: clean up workstation ansible files
  .gitmodules
  deploy/ansible.cfg
  deploy/dependencies.yml
  deploy/dev.yml
  deploy/hosts
  deploy/mongodb_reset.yml
  deploy/playbook_buildagent.yml
  deploy/playbook_focal.yml
  deploy/vars/Linux Mint-17.yml
  deploy/vars/Linux Mint-18.yml
  deploy/vars/Linux Mint-19.yml
  deploy/vars/config_buildagent.yml
  deploy/vars/config_palaso.yml
Due: prettier --write

dev: ansible: upgrade mongo from 7 to 8
  deploy/dev-server.playbook.yml
Due: prettier --write

dev: omit dotnet pkg repo key and source
  deploy/dev-server.playbook.yml
Due: prettier --write

Add message on certain pages about mobile not being supported (#2914)
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/mobile-not-supported/mobile-not-supported.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/mobile-not-supported/mobile-not-supported.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/system-administration.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/xforge-common.module.ts
Due: prettier --write

Migrate last selected books to last selected scripture ranges
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.spec.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/tabs/editor-tab-menu.service.spec.ts
Due: prettier --write

SF-3077 Add UI for mixed training sources
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-multi-select/book-multi-select.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-multi-select/book-multi-select.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/utils.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Select previous books by scripture ranges
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/utils.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

Add and adjusts tests
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-multi-select/book-multi-select.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-multi-select/book-multi-select.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-multi-select/book-multi-select.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-multi-select/book-multi-select.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources.service.ts
Due: prettier --write

Allow selecting training books in only one source
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

Fix realtime server test
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.spec.ts
Due: prettier --write

Code review fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

Add event metric logging
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/ISyncService.cs
  src/SIL.XForge.Scripture/Services/SFEventMetricsContainerBuilderExtensions.cs
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge/DataAccess/DataAccessServiceCollectionExtensions.cs
  src/SIL.XForge/EventMetrics/EventMetric.cs
  src/SIL.XForge/EventMetrics/EventMetricLogger.cs
  src/SIL.XForge/EventMetrics/EventMetricsContainerBuilderExtensions.cs
  src/SIL.XForge/EventMetrics/EventScope.cs
  src/SIL.XForge/EventMetrics/LogEventMetricAttribute.cs
  src/SIL.XForge/SIL.XForge.csproj
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Relocate DictionaryComparer to SIL.XForge
  src/SIL.XForge/Utils/DictionaryComparer.cs
  test/SIL.XForge.Tests/Utils/DictionaryComparerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add unit tests
  src/SIL.XForge/DataAccess/DataAccessServiceCollectionExtensions.cs
  src/SIL.XForge/DataAccess/MemoryRepository.cs
  src/SIL.XForge/EventMetrics/EventMetric.cs
  src/SIL.XForge/EventMetrics/EventMetricLogger.cs
  src/SIL.XForge/EventMetrics/EventMetricsContainerBuilderExtensions.cs
  test/SIL.XForge.Scripture.Tests/Services/DependencyInjectionTests.cs
  test/SIL.XForge.Scripture.Tests/StartupTests.cs
  test/SIL.XForge.Tests/Services/EventMetricLoggerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add basic retrieval of Event Metrics
  src/SIL.XForge/Services/EventMetricService.cs
  src/SIL.XForge/Services/IEventMetricService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Refactor event metric saving
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge/EventMetrics/EventMetricLogger.cs
  src/SIL.XForge/EventMetrics/EventMetricsContainerBuilderExtensions.cs
  src/SIL.XForge/Services/EventMetricService.cs
  src/SIL.XForge/Services/IEventMetricService.cs
  test/SIL.XForge.Scripture.Tests/Services/DependencyInjectionTests.cs
  test/SIL.XForge.Tests/Models/TestComplexObject.cs
  test/SIL.XForge.Tests/Models/TestSimpleObject.cs
  test/SIL.XForge.Tests/Services/EventMetricLoggerTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add event metric backend query interface
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge/Services/EventMetricService.cs
  src/SIL.XForge/Services/IEventMetricService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fixed CodeQL warnings
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix handling of Bson by JsonRpc, and correctly index event_metrics
  src/SIL.XForge/DataAccess/BsonValueConverter.cs
  src/SIL.XForge/DataAccess/DataAccessApplicationBuilderExtensions.cs
  src/SIL.XForge/DataAccess/DataAccessServiceCollectionExtensions.cs
  src/SIL.XForge/DataAccess/MemoryRepository.cs
  src/SIL.XForge/Services/EventMetricService.cs
  src/SIL.XForge/Services/JsonRpcServiceCollectionExtensions.cs
  test/SIL.XForge.Scripture.Tests/Services/DependencyInjectionTests.cs
  test/SIL.XForge.Tests/DataAccess/BsonValueConverterTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier
