Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier format"]

Update PNPM dependencies via pnpm audit --fix update
  src/RealtimeServer/pnpm-lock.yaml
  src/RealtimeServer/pnpm-workspace.yaml
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/pnpm-lock.yaml
  src/SIL.XForge.Scripture/ClientApp/pnpm-workspace.yaml
Due: prettier --write

SF-3595 Fix scrolling of selected verse into view in the source pane
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

SF-3595 Fix scrolling of selected verse into view in the source pane (#4097)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

SF-3913 Pause sending of ops to ShareDB if offline
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/typings/sharedb.d.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/memory-realtime-remote-store.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/realtime-remote-store.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/sharedb-realtime-remote-store.ts
Due: prettier --write

SF-3925 Disable previous chapter button if chapter list is not ready
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-chapter-chooser/book-chapter-chooser.component.ts
Due: prettier --write

SF-3928 Allow users to shrink community checking text
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/font-size/font-size.component.ts
Due: prettier --write

e2e: fail faster when browser launch error
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-globals.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-utils.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e.mts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/community-checking.ts
Due: prettier --write

e2e: fail faster when browser launch error (#4103)
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-globals.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-utils.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e.mts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/community-checking.ts
Due: prettier --write

SF-3917 Add a link to Low Draft Quality banner
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/external-url-class.ts
Due: prettier --write

Remove a couple null-forgiving operators in MachineApiService
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Remove a couple null-forgiving operators in MachineApiService (#4105)
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3844 SF-3786 SF-3914 Clear Lynx insights of a checker that stops reporting
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-workspace.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-workspace.service.ts
Due: prettier --write

SF-3844 SF-3786 SF-3914 Clear Lynx insights of a checker that stops reporting (#4085)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-workspace.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-workspace.service.ts
Due: prettier --write

Make low-confidence notice a single component
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/low-confidence-notice.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/low-confidence-notice.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/low-confidence-notice.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-utils.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3927 Redesign Serval admin page
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/_draft-jobs-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/_serval-administration-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/build-status-icon.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/_onboarding-requests-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/onboarding-request.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/material-styles.scss
  src/SIL.XForge.Scripture/Controllers/OnboardingRequestRpcController.cs
  src/SIL.XForge.Scripture/Services/OnboardingRequestService.cs
  test/SIL.XForge.Scripture.Tests/Services/OnboardingRequestServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Remove draft remarks notice
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Remove draft remarks notice (#4108)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Update to pnpm 12.3.4, update vulnerable dependencies
  .devcontainer/Dockerfile
  .github/workflows/build-and-test.yml
  .github/workflows/ci-lint-prettier.yml
  .github/workflows/ci-production-build.yml
  .github/workflows/codeql.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  .github/workflows/storybook-screenshots.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/update-npm-audit.yml
  deploy/vagrant/sfdev/Vagrantfile
  scripts/db_tools/package.json
  scripts/db_tools/pnpm-lock.yaml
  scripts/db_tools/pnpm-workspace.yaml
  src/RealtimeServer/Dockerfile
  src/RealtimeServer/package.json
  src/RealtimeServer/pnpm-lock.yaml
  src/RealtimeServer/pnpm-workspace.yaml
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/pnpm-lock.yaml
  src/SIL.XForge.Scripture/ClientApp/pnpm-workspace.yaml
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-log/sync-log.component.spec.ts
  src/SIL.XForge.Scripture/Dockerfile
Due: prettier --write

Update to pnpm 12.3.4, update vulnerable dependencies (#4106)
  .devcontainer/Dockerfile
  .github/workflows/build-and-test.yml
  .github/workflows/ci-lint-prettier.yml
  .github/workflows/ci-production-build.yml
  .github/workflows/codeql.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  .github/workflows/storybook-screenshots.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/update-npm-audit.yml
  deploy/vagrant/sfdev/Vagrantfile
  scripts/db_tools/package.json
  scripts/db_tools/pnpm-lock.yaml
  scripts/db_tools/pnpm-workspace.yaml
  src/RealtimeServer/Dockerfile
  src/RealtimeServer/package.json
  src/RealtimeServer/pnpm-lock.yaml
  src/RealtimeServer/pnpm-workspace.yaml
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/pnpm-lock.yaml
  src/SIL.XForge.Scripture/ClientApp/pnpm-workspace.yaml
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync-log/sync-log.component.spec.ts
  src/SIL.XForge.Scripture/Dockerfile
Due: prettier --write

Improve layout of buttons on Serval admin page
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.scss
Due: prettier --write

e2e: improve --help info
  src/SIL.XForge.Scripture/ClientApp/e2e/characterize-tests.mts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-globals.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e.mts
Due: prettier --write

e2e: start smoke test with a clean project state
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/smoke-tests.mts
Due: none

Fix syntax
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e.mts
Due: none

Improve layout of buttons on Serval admin page (#4109)
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.scss
Due: prettier --write

SF-3917 Refactor into a component
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-preview-books/draft-preview-books.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3917 Refactor into a component
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/build-confidences/display-confidence.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-preview-books/draft-preview-books.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-2956 Fix misuse of mat-error component
  .grit/patterns/mat_error_inside_form_field.md
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/configure-sources/configure-sources.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/configure-sources/configure-sources.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-onboarding-form.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-onboarding-form.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/tabs/editor-tab-add-resource-dialog/editor-tab-add-resource-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/styles.scss
Due: prettier --write

SF-3889 Add user feedback endpoint and collection
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessApplicationBuilderExtensions.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Models/UserFeedback.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add UI for feedback
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Models/UserFeedback.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

e2e: don't abandon the run when a failure screenshot times out
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e.mts
Due: none

Wording
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e.mts
Due: none

Improvements to the UI for collecting user feedback
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix build errors
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
Due: prettier --write

e2e: don't abandon the run when a failure screenshot times out (#4114)
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e.mts
Due: none

SF-3932 Require view permission to subscribe to text document creation
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

SF-3932 Only subscribe to text document creation if user has view permission (#4115)
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write
