Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier format"]

Fix bug where notes in headings couldn't be reopened after editing
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Fix note count in tooltip to exclude deleted notes
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

SF-3524 Fix bug where notes in headings cannot be reopened after editing (#3413)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

fix case of tracking modifiers when window loses focus
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

fix backwards keyboard text selection across lynx insight
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

add tests
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
Due: prettier --write

fix press and hold cursor lag when lynx enabled
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

SF-3373 Fix editor text selection over Lynx insight (#3362)
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

Connect quotation denormalization to frontend UI
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Models/DraftUsfmConfig.cs
  src/SIL.XForge.Scripture/Services/PreTranslationService.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Improve Machine API controller test coverage
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update localizations
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Configure backend to use serval 1.10 API for draft format
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/PreTranslationService.cs
  src/SIL.XForge.Scripture/packages.lock.json
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Code review updates
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Clean up format names
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Models/DraftUsfmConfig.cs
  src/SIL.XForge.Scripture/Services/PreTranslationService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3537 Connect quotation denormalization to frontend UI (#3336)
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Models/DraftUsfmConfig.cs
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/PreTranslationService.cs
  src/SIL.XForge.Scripture/packages.lock.json
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Angular CLI update for packages - @angular/core@19, @angular/cli@19, @angular/pwa@19
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

@angular/cli migration - use-application-builder
  src/SIL.XForge.Scripture/ClientApp/angular.json
Due: prettier --write

Angular CLI update for packages - @angular/material@19
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

@angular/material migration - migration-v19
  src/SIL.XForge.Scripture/ClientApp/src/themes/themes.scss
Due: prettier --write

@angular/core migration - provide-initializer
  src/SIL.XForge.Scripture/ClientApp/src/app/app.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/shared.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-insights.module.ts
Due: prettier --write

Improve variable name
  src/SIL.XForge.Scripture/Startup.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Make RealtimeServer TS version the same
  src/RealtimeServer/package-lock.json
  src/RealtimeServer/package.json
Due: prettier --write

Adjust to help with conflict resolution
  src/SIL.XForge.Scripture/ClientApp/angular.json
Due: prettier --write

add custom ScrollStrategy to fix issue with CdkScrollable in upgrade to angular v19
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-insight-overlay.service.ts
Due: prettier --write

Update package lock
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
Due: prettier --write

BB standalone false
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/bubble-button/bubble-button.directive.ts
Due: prettier --write

fix material sys-primary style ref
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/lynx/insights/lynx-insight-status-indicator/lynx-insight-status-indicator.component.scss
Due: prettier --write

frontend cache run id
  .github/workflows/e2e-tests.yml
Due: prettier --write

Fix e2e test at draft stepper
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/generate-draft.ts
Due: prettier --write

Fix paginator test
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-users.component.spec.ts
Due: prettier --write

Update lynx-p-c to fix locale error
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

Fix Notes tests by adding snapshots before ngOnInit
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.spec.ts
Due: prettier --write

Add more standalone:true
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/copyright-banner/copyright-banner.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/global-notices/global-notices.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/mobile-not-supported/mobile-not-supported.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-apply-progress-dialog/draft-apply-progress-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/owner/owner.component.ts
Due: prettier --write

more dir and build adjustments
  src/SIL.XForge.Scripture/ClientApp/.gitignore
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/Startup.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix serviceWorker from bool to path to ngsw-config.json
  src/SIL.XForge.Scripture/ClientApp/angular.json
Due: prettier --write

change web worker SPA route for new ng application builder worker names
  src/SIL.XForge.Scripture/Startup.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

rm standalone:true
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/copyright-banner/copyright-banner.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/global-notices/global-notices.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/mobile-not-supported/mobile-not-supported.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-apply-progress-dialog/draft-apply-progress-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/avatar/avatar.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/includes.pipe.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/owner/owner.component.ts
Due: prettier --write

Find $likes
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-answers.component.scss
Due: prettier --write
