Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

test: stop needlessly writing the machine's Paratext settings file
  test/SIL.XForge.Scripture.Tests/Services/InternetSharedRepositorySourceProviderTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

test: stop needlessly writing the machine's Paratext settings file (#4146)
  test/SIL.XForge.Scripture.Tests/Services/InternetSharedRepositorySourceProviderTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update Storybook to 10.6 to fix dependency thrashing
  src/SIL.XForge.Scripture/ClientApp/.storybook/preview.ts
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/pnpm-lock.yaml
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-scripture-audio-player/checking-scripture-audio-player.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/join/join.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/audio-recorder-dialog/audio-recorder-dialog.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/ltr-marker.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/tabs/editor-tab-add-resource-dialog/editor-tab-add-resource-dialog.stories.ts
Due: prettier --write

Update all translation files from Crowdin
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ar.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_az.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_de.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_es.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fa.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fr.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_hi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_id.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_km.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_kyu.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_lo.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_npi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_pt_BR.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ro.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ru.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_zh_CN.json
Due: prettier --write

Search admin project lists on input event instead of keyup
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-projects.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-projects.component.spec.ts
Due: prettier --write

Allow empty project string
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add UI for feedback
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Models/UserFeedback.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix build errors
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
Due: prettier --write

SF-3889 Add user feedback endpoint and collection
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessApplicationBuilderExtensions.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Models/UserFeedback.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Improvements to the UI for collecting user feedback
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Only show feedback option from draft generation page
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/UserFeedback.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Show feedback notice after user generates a new draft
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

SF-1515 SF-3407 SF-2161 Keep answer audio playing when the question changes remotely
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-answers.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
Due: prettier --write

Update PNPM dependencies via pnpm audit --fix update
  scripts/db_tools/pnpm-lock.yaml
  src/RealtimeServer/package.json
  src/RealtimeServer/pnpm-lock.yaml
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/pnpm-lock.yaml
Due: prettier --write

Fix test assertions that could never fail
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/chapter-audio-dialog/chapter-audio-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.spec.ts
Due: prettier --write

Fix test assertions that could never fail (#4145)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/chapter-audio-dialog/chapter-audio-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.spec.ts
Due: prettier --write

Update Storybook to 10.6 to fix dependency thrashing (#4147)
  src/SIL.XForge.Scripture/ClientApp/.storybook/preview.ts
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/pnpm-lock.yaml
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-scripture-audio-player/checking-scripture-audio-player.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/join/join.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/audio-recorder-dialog/audio-recorder-dialog.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/ltr-marker.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/tabs/editor-tab-add-resource-dialog/editor-tab-add-resource-dialog.stories.ts
Due: prettier --write

rts: say which records name a projection and which name the collection
  src/RealtimeServer/common/rts-diagnostics.md
Due: prettier --write

rts: report a client request before it can be rejected
  src/RealtimeServer/common/realtime-server.ts
Due: prettier --write

rts: refuse a request that arrives without a connection session
  src/RealtimeServer/common/realtime-server.spec.ts
  src/RealtimeServer/common/realtime-server.ts
Due: prettier --write

rts: count a query of a projection against the projection
  src/RealtimeServer/common/realtime-server.spec.ts
  src/RealtimeServer/common/realtime-server.ts
Due: prettier --write

rts: test that a refused request is still reported
  src/RealtimeServer/common/realtime-server.spec.ts
Due: prettier --write

rts: add to activity log
  doc/code-rules-ai.md
  src/RealtimeServer/common/activity-logger.spec.ts
  src/RealtimeServer/common/activity-logger.ts
  src/RealtimeServer/common/realtime-server.spec.ts
  src/RealtimeServer/common/realtime-server.ts
  src/RealtimeServer/common/resource-monitor.spec.ts
  src/RealtimeServer/common/resource-monitor.ts
  src/RealtimeServer/common/rts-diagnostics.md
  src/RealtimeServer/common/services/project-data-service.ts
  src/RealtimeServer/scriptureforge/realtime-server.ts
  src/RealtimeServer/typings/sharedb/AGENTS.md
  src/RealtimeServer/typings/sharedb/index.d.ts
  src/RealtimeServer/typings/sharedb/lib/client.d.ts
Due: prettier --write

rts: fetch the earlier snapshot over the server's connection in test
  src/RealtimeServer/common/realtime-server.spec.ts
Due: prettier --write

rts: say what makes the query counts differ apart from a refusal
  src/RealtimeServer/common/rts-diagnostics.md
Due: prettier --write

rts: describe refusals and how the query records name a collection
  src/RealtimeServer/common/rts-diagnostics.md
Due: prettier --write

rts: let the query rules cope with an absent connect session
  src/RealtimeServer/common/realtime-server.ts
Due: prettier --write

rts: report a request that the server refuses
  src/RealtimeServer/common/realtime-server.spec.ts
  src/RealtimeServer/common/realtime-server.ts
Due: prettier --write

rts: let the collection check cope with an absent connect session
  src/RealtimeServer/common/realtime-server.ts
Due: prettier --write

rts: name the projection, not the collection behind it, when one was used
  src/RealtimeServer/common/realtime-server.spec.ts
  src/RealtimeServer/common/realtime-server.ts
  src/RealtimeServer/typings/sharedb/index.d.ts
Due: prettier --write

rts: add to activity log (#4093)
  doc/code-rules-ai.md
  src/RealtimeServer/common/activity-logger.spec.ts
  src/RealtimeServer/common/activity-logger.ts
  src/RealtimeServer/common/realtime-server.spec.ts
  src/RealtimeServer/common/realtime-server.ts
  src/RealtimeServer/common/resource-monitor.spec.ts
  src/RealtimeServer/common/resource-monitor.ts
  src/RealtimeServer/common/rts-diagnostics.md
  src/RealtimeServer/common/services/project-data-service.ts
  src/RealtimeServer/scriptureforge/realtime-server.ts
  src/RealtimeServer/typings/sharedb/AGENTS.md
  src/RealtimeServer/typings/sharedb/index.d.ts
  src/RealtimeServer/typings/sharedb/lib/client.d.ts
Due: prettier --write

Search admin project lists on input event instead of keyup (#4149)
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-projects.component.html
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-projects.component.spec.ts
Due: prettier --write

SF-3929 Allow Translators to upload training data
  src/RealtimeServer/scriptureforge/rightsByRole.json
Due: prettier --write

SF-3929 Implement UpdateDraftSource on the frontend
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/draft-source-configuration.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/sf-project-settings.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/permissions.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/configure-sources/configure-sources.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/configure-sources/configure-sources.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3929 Implement UpdateDraftSources on the backend
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/DraftSourceConfiguration.cs
  src/SIL.XForge.Scripture/Models/SFProjectSettings.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update PNPM dependencies via pnpm audit --fix update
  src/SIL.XForge.Scripture/ClientApp/pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,less,html,md,yml}
  dotnet format analyzers --include: any of: *.cs
  dotnet format style --include: any of: *.cs
  dotnet csharpier format: any of: *.cs
