Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier format"]

dev: Add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose-win.yml
  .devcontainer/docker-compose.yml
  .devcontainer/post-create.sh
  src/Docker/docker-compose.override.yml
  src/SIL.XForge.Scripture/Migrator.cs
  src/SIL.XForge.Scripture/Program.cs
  src/SIL.XForge/Configuration/RealtimeOptions.cs
  src/SIL.XForge/Realtime/MemoryRealtimeService.cs
  src/SIL.XForge/Realtime/RealtimeServer.cs
  src/SIL.XForge/Utils/Product.cs
  test/SIL.XForge.Tests/Realtime/RealtimeServerTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Retire NT drafting notice after 90 days
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

dev: vagrant: install dotnet 10
  deploy/vagrant/sfdev/Vagrantfile
Due: none

SF-3746 Allow navigating to any drafted book if it exists
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/progress-service/progress.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
Due: prettier --write

Code review fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
Due: prettier --write

Code review fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/progress-service/progress.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

dev: vagrant: downgrade kernel, better messaging
  deploy/vagrant/sfdev/Vagrantfile
Due: none

Draft jobs table: Show caution for older data
  AGENTS.md
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.ts
Due: prettier --write

dev: vagrant: downgrade kernel, https, better messaging
  deploy/vagrant/sfdev/Vagrantfile
  deploy/vagrant/sfdev/base/provision.sh
Due: none

Update all translation files from Crowdin
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ar.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_az.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_de.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_es.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fa.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fr.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_hi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_id.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_km.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_kyu.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_lo.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_npi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_pt_BR.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ro.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ru.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_zh_CN.json
Due: prettier --write

SF-3542 Do not allow cut operations across multiple segments
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

SF-3743 Add questions index for IndexedDB
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/question-doc.ts
Due: prettier --write

SF-3743 Add change detection for the checking overview
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.ts
Due: prettier --write

SF-3743 Add change detection for the checking component
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
Due: prettier --write

Fix Grit install in GitHub action
  .github/workflows/grit.yml
Due: prettier --write

Update NPM dependencies via npm audit fix
  scripts/db_tools/package-lock.json
  src/RealtimeServer/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
Due: prettier --write

Use environment secrets for Crowdin
  .github/workflows/push-changes-to-crowdin.yml
  .github/workflows/update-localizations.yml
Due: prettier --write

Fix Grit install in GitHub action
  .github/workflows/grit.yml
  .github/workflows/update-npm-audit.yml
Due: prettier --write

Convert actions to Ubuntu 24.04
  .github/workflows/build-and-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/compute-next-version.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
Due: prettier --write

dev: fix no-await async warnings in OnboardingRequestRpcController
  src/SIL.XForge.Scripture/Controllers/OnboardingRequestRpcController.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Enable in-app onboarding form
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/feature-flags/feature-flag.service.ts
Due: prettier --write

Enable in-app onboarding form
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/localized-screenshots.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/feature-flags/feature-flag.service.ts
Due: prettier --write

Update npm dependencies to resolve dependabot alerts
  scripts/db_tools/package-lock.json
  src/RealtimeServer/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
Due: prettier --write

SF-3730 Require authentication for SignalR notifications
  src/SIL.XForge.Scripture/Services/DraftNotificationHub.cs
  src/SIL.XForge.Scripture/Services/NotificationHub.cs
  src/SIL.XForge.Scripture/Services/NotificationHubBase.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3730 Updates from rebase and devin code review
  src/SIL.XForge.Scripture/ClientApp/src/app/core/project-notification.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-notification.service.ts
  src/SIL.XForge.Scripture/Services/DraftNotificationHub.cs
  src/SIL.XForge.Scripture/Services/IDraftNotifier.cs
  src/SIL.XForge.Scripture/Services/INotifier.cs
  src/SIL.XForge.Scripture/Services/NotificationHub.cs
  src/SIL.XForge.Scripture/Services/NotificationHubBase.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3743 Add change detection for audio players
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/single-button-audio-player/single-button-audio-player.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/audio/audio-player/audio-player.component.ts
Due: prettier --write

SF-3745 Frontend changes
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/utils.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/utils.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write
