Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix duplicate key error when retrieving Paratext users
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Do not return stack traces in apply draft errors
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Change prefix decrement to postfix decrement
  src/SIL.XForge.Scripture/ClientApp/src/app/core/notification-service-base.ts
Due: prettier --write

Fix error when importing empty CSV file
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.ts
Due: prettier --write

Fix error when importing an invalid spreadsheet
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/csv-service.service.ts
Due: prettier --write

Update vulnerable packages
  src/RealtimeServer/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
Due: prettier --write

Fix issue flagged by devin when a client goes offline mid-import
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.html
Due: prettier --write

SF-3744 Hide format options button on draft tab when draft started
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Mock project notification service
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
Due: prettier --write

SF-3449 SF-3751 Fix SignalR HubConnection errors
  src/SIL.XForge.Scripture/ClientApp/src/app/core/notification-service-base.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/project-notification.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-notification.service.ts
Due: prettier --write

SF-3745 Frontend changes
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/utils.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/utils.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

SF-3745 Code review updates
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/utils.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/utils.ts
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3745 Backend changes
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Two trivial improvements to the onboarding request page
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
Due: prettier --write

SF-3740 Do not select previously used and now empty books for training
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

sync: improve logging
  src/SIL.XForge.Scripture/Services/HgWrapper.cs
  src/SIL.XForge.Scripture/Services/IHgWrapper.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

sync: fix GetOutgoingRevisions to use draft phases
  src/SIL.XForge.Scripture/Services/HgWrapper.cs
  src/SIL.XForge.Scripture/Services/IHgWrapper.cs
  src/SIL.XForge.Scripture/Services/JwtInternetSharedRepositorySource.cs
  test/SIL.XForge.Scripture.Tests/Services/JwtInternetSharedRepositorySourceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update all translation files from Crowdin
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_de.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_es.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ar.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_az.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_de.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_es.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fa.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fr.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_hi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_id.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_km.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_kyu.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_lo.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_npi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_pt_BR.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ro.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ru.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_zh_CN.json
Due: prettier --write

SF-1992 Fail sync if push failed
  AGENTS.md
  src/SIL.XForge.Scripture/Services/HgWrapper.cs
  src/SIL.XForge.Scripture/Services/IHgWrapper.cs
  src/SIL.XForge.Scripture/Services/JwtInternetSharedRepositorySource.cs
  src/SIL.XForge.Scripture/Services/LazyScrTextCollection.cs
  test/SIL.XForge.Scripture.Tests/Services/JwtInternetSharedRepositorySourceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update lodash with npm audit fix
  scripts/db_tools/package-lock.json
  src/RealtimeServer/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
Due: prettier --write

dev: add imports to manage-db script
  scripts/db_tools/manage-db.ts
Due: prettier --write

Fix Serval admin tab persistence
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.ts
Due: prettier --write

dev: debug into ParatextData
  .vscode/launch.json
Due: prettier --write

Replace references to net8.0 with net10.0
  .vscode/launch.json
  src/Help/UpdateHelp/UpdateHelp.csproj
  src/Migrations/BackoutCommits/.vscode/launch.json
  src/Migrations/BackoutCommits/BackoutCommits.csproj
  src/Migrations/ServalMigration/Program.cs
  src/Migrations/ServalMigration/ServalMigration.csproj
  src/Migrations/UsxFormat/Migrations.csproj
  src/Migrations/WhitespaceRestoreMigration/Program.cs
  src/Migrations/WhitespaceRestoreMigration/WhitespaceRestoreMigration.csproj
  src/RealtimeServer/tsconfig.json
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge/SIL.XForge.csproj
  test/SIL.Converters.Usj.Tests/SIL.Converters.Usj.Tests.csproj
  test/SIL.XForge.Scripture.Tests/SIL.XForge.Scripture.Tests.csproj
  test/SIL.XForge.Tests/SIL.XForge.Tests.csproj
  tools/CommentGenerator/CommentGenerator.csproj
  tools/CommitGenerator/CommitGenerator.csproj
  tools/RepoInfo/RepoInfo.csproj
  tools/Roundtrip/Roundtrip.csproj
  tools/ServalBuildReport/ServalBuildReport.csproj
  tools/ServalDownloader/ServalDownloader.csproj
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add assignee and resolution to draft request detail page
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/onboarding-request.service.ts
Due: prettier --write

SF-3768 Add assignee and resolution to draft request detail page
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/onboarding-request.service.ts
Due: prettier --write

Update packages and code to support .NET 10
  .vscode/launch.json
  src/SIL.XForge.Scripture/Program.cs
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/ApiDocumentationExtensions.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge.Scripture/Services/PreTranslationService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge.Scripture/packages.lock.json
  src/SIL.XForge/Realtime/Document.cs
  src/SIL.XForge/SIL.XForge.csproj
  src/SIL.XForge/Services/EmailService.cs
  src/SIL.XForge/packages.lock.json
  test/SIL.Converters.Usj.Tests/SIL.Converters.Usj.Tests.csproj
  test/SIL.XForge.Scripture.Tests/SIL.XForge.Scripture.Tests.csproj
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
  test/SIL.XForge.Tests/SIL.XForge.Tests.csproj
  tools/CommentGenerator/CommentGenerator.csproj
  tools/CommitGenerator/CommitGenerator.csproj
  tools/RepoInfo/RepoInfo.csproj
  tools/ServalBuildReport/Program.cs
  tools/ServalBuildReport/ServalBuildReport.csproj
  tools/ServalDownloader/Program.cs
  tools/ServalDownloader/ServalDownloader.csproj
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update devcontainer to .NET 10
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/post-create.sh
Due: prettier --write

Update GitHub actions
  .github/workflows/build-and-test.yml
  .github/workflows/codeql.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  .github/workflows/release.yml
Due: prettier --write

Update docker images
  src/RealtimeServer/Dockerfile
  src/SIL.XForge.Scripture/Dockerfile
Due: none

Fixes from devin
  .vscode/launch.json
  src/SIL.XForge.Scripture/Program.cs
  src/SIL.XForge/Services/EmailService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix startup
  src/SIL.XForge.Scripture/Program.cs
  src/SIL.XForge.Scripture/Realtime/SFRealtimeServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge/Realtime/RealtimeServiceCollectionExtensions.cs
  test/SIL.XForge.Scripture.Tests/Services/DependencyInjectionTests.cs
  test/SIL.XForge.Scripture.Tests/StartupTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,less,html,md,yml}
  dotnet format analyzers --include: any of: *.cs
  dotnet format style --include: any of: *.cs
  dotnet csharpier format: any of: *.cs
