Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier format"]

SF-3928 Allow users to shrink community checking text (#4102)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/font-size/font-size.component.ts
Due: prettier --write

Add link from Serval admin page to onboarding request
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/onboarding-request.service.ts
  src/SIL.XForge.Scripture/Controllers/OnboardingRequestRpcController.cs
  src/SIL.XForge.Scripture/Services/OnboardingRequestService.cs
  test/SIL.XForge.Scripture.Tests/Services/OnboardingRequestServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add link from Serval admin page to onboarding request (#4116)
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/onboarding-request.service.ts
  src/SIL.XForge.Scripture/Controllers/OnboardingRequestRpcController.cs
  src/SIL.XForge.Scripture/Services/OnboardingRequestService.cs
  test/SIL.XForge.Scripture.Tests/Services/OnboardingRequestServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Auto close stale PRs after 21 days of inactivity
  .github/workflows/close-stale-prs.yml
Due: prettier --write

Fix build errors
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
Due: prettier --write

Allow empty project string
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add UI for feedback
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Models/UserFeedback.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Improvements to the UI for collecting user feedback
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3889 Add user feedback endpoint and collection
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessApplicationBuilderExtensions.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Models/UserFeedback.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Show feedback notice after user generates a new draft
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

SF-3925 Disable previous chapter button if chapter list is not ready
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-chapter-chooser/book-chapter-chooser.component.ts
Due: prettier --write

SF-3925 Disable previous chapter button if chapter list is not ready (#4101)
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-chapter-chooser/book-chapter-chooser.component.ts
Due: prettier --write

e2e: improve PT login robustness
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-utils.ts
Due: prettier --write

e2e: improve PT login robustness (#4119)
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-utils.ts
Due: prettier --write

SF-3936 Show Serval INFO diagnostics to Serval admins
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

Set Secure and SameSite on the transparent authentication cookie
  src/SIL.XForge.Scripture/Controllers/AnonymousController.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Set Secure and SameSite on the transparent authentication cookie
  src/SIL.XForge.Scripture/Controllers/AnonymousController.cs
  test/SIL.XForge.Scripture.Tests/Controllers/AnonymousControllerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update all translation files from Crowdin
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_ar.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ar.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_az.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_de.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_es.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fa.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fr.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_hi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_id.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_km.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_kyu.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_lo.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_npi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_pt_BR.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ro.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ru.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_zh_CN.json
  src/SIL.XForge.Scripture/Resources/Pages.Index.ar.resx
Due: prettier --write

SF-3936 Show Serval INFO diagnostics to Serval admins (#4120)
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
Due: prettier --write

e2e: improve --help info
  src/SIL.XForge.Scripture/ClientApp/e2e/characterize-tests.mts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-globals.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e.mts
Due: prettier --write

dev: add fetchLogs to auth0-manage.ts script
  scripts/auth0-manage.ts
Due: prettier --write

Account for logs not in date order
  scripts/auth0-manage.ts
Due: prettier --write

Comment on still possible missing
  scripts/auth0-manage.ts
Due: prettier --write

dev: report auth0-manage problems on stderr
  scripts/auth0-manage.ts
Due: prettier --write

auth: detect and describe Registry login problem. handle in e2e
  AGENTS.md
  doc/code-rules.md
  src/SIL.XForge.Scripture/ClientApp/e2e/AGENTS.md
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-utils.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth.service.ts
Due: prettier --write

Update PNPM dependencies via pnpm audit --fix update
  scripts/db_tools/pnpm-lock.yaml
  src/RealtimeServer/package.json
  src/RealtimeServer/pnpm-lock.yaml
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/pnpm-lock.yaml
Due: prettier --write

Fix API type signature
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth.service.ts
Due: prettier --write

Auto close stale PRs after 21 days of inactivity (#4118)
  .github/workflows/close-stale-prs.yml
Due: prettier --write

Set Secure and SameSite on the transparent authentication cookie (#4121)
  src/SIL.XForge.Scripture/Controllers/AnonymousController.cs
  test/SIL.XForge.Scripture.Tests/Controllers/AnonymousControllerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

dev: add fetchLogs to auth0-manage.ts script (#4122)
  scripts/auth0-manage.ts
Due: prettier --write

SF-3913 Pause sending of ops to ShareDB if offline
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/typings/sharedb.d.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/memory-realtime-remote-store.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/realtime-remote-store.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/sharedb-realtime-remote-store.ts
Due: prettier --write

SF-3913 Pause sending of ops to ShareDB if offline (#4088)
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/typings/sharedb.d.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/memory-realtime-remote-store.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/realtime-remote-store.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/sharedb-realtime-remote-store.ts
Due: prettier --write

Fix http-proxy patch for PNPM 12
  src/SIL.XForge.Scripture/ClientApp/patches/http-proxy@1.18.1.patch
  src/SIL.XForge.Scripture/ClientApp/pnpm-lock.yaml
Due: none

SF-3931 Add new properties to the model
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/Models/DraftConfig.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format
