Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier"]

SF-2028 (wip)
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.stories.ts
Due: prettier --write

Move join component strings to checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Move join component strings to checking_en.json (#1936)
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

tool: manipulate-sharedb: use utils by namespace
  scripts/db_tools/manipulate-sharedb.ts
Due: prettier --write

tool: manipulate-sharedb: use utils by namespace (#1926)
  scripts/db_tools/manipulate-sharedb.ts
Due: prettier --write

Add Mongo script to export questions
  mongodb/Questions/ExportQuestions.mongodb
Due: none

Add Mongo script to export questions (#1937)
  mongodb/Questions/ExportQuestions.mongodb
Due: none

Updated Start and Cancel Pre-Translation Endpoints
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Models/MachineApi.cs
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ServalApiExceptions.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Updated GetBuild to support pre-translation builds
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Controllers/MachineApiV2Controller.cs
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiV2ControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Added Get Pre-Translation Endpoint
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Models/MachineApi.cs
  src/SIL.XForge.Scripture/Models/PreTranslation.cs
  src/SIL.XForge.Scripture/Models/PreTranslationDto.cs
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/IPreTranslationService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/PreTranslationService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Documented the new API endpoints.
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Added Queued build state for pretranslation upload
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-states.ts
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Models/ServalData.cs
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Updates from Code Review
  src/RealtimeServer/scriptureforge/services/text-audio-service.spec.ts
  src/SIL.XForge.Scripture/Models/ServalData.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix await using statements for ConnectAsync()
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Refactored audio playing to its own class.
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player/checking-audio-player.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player/checking-audio-player.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-scripture-audio-player/checking-scripture-audio-player.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/audio-player.ts
Due: prettier --write

Fixed a couple bugs found by unit tests.
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player/checking-audio-player.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player/checking-audio-player.component.ts
Due: prettier --write

Setting currentTime to 0 after loading audio.
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/audio-player.ts
Due: prettier --write

Removed unused OnDestroy and directive.
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player/checking-audio-player.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/audio-player.ts
Due: prettier --write

Reset the waitTime in scripture audio tests.
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-scripture-audio-player/checking-scripture-audio-player.component.spec.ts
Due: prettier --write

Increasing wait time in scripture audio tests
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-scripture-audio-player/checking-scripture-audio-player.component.spec.ts
Due: prettier --write

Fixed bug with audio slider not updating.
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/audio-player.ts
Due: prettier --write

Removed the backing _seek field while still updating the slider.
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/audio-player.ts
Due: prettier --write

Reverting existing checking-audio-player. Will use a duplicated component for development.
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player/checking-audio-player.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player/checking-audio-player.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player/checking-audio-player.component.ts
Due: prettier --write

Fixed seek resetting on pause.
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/audio-player.ts
Due: prettier --write

Reverting checking-scripture-audio-player, as well
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-scripture-audio-player/checking-scripture-audio-player.component.ts
Due: prettier --write

Added storybook testing.
  src/SIL.XForge.Scripture/ClientApp/.storybook/main.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/checking-audio-recorder.stories.ts
Due: prettier --write

Added copied component that uses AudioPlayer
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player-new/checking-audio-player-new.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player-new/checking-audio-player-new.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player-new/checking-audio-player-new.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player-new/checking-audio-player-new.component.ts
Due: prettier --write

Fixing rebase merge
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player/checking-audio-player.component.spec.ts
Due: prettier --write

Fixed tests for copied component
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-audio-player-new/checking-audio-player-new.component.spec.ts
Due: prettier --write

Translate Overview to Material
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.spec.ts
Due: prettier --write

Fix await using statements for ConnectAsync() (#1940)
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

wip
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/line-by-line-editor/line-by-line-editor.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/line-by-line-editor/line-by-line-editor.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/line-by-line-editor/line-by-line-editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/line-by-line-editor/line-by-line-editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/activated-project.service.ts
Due: prettier --write

attempt 2
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/xfvalidators.ts
Due: prettier --write

coding standard changes
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/xfvalidators.ts
Due: prettier --write

SF-1502 Make email validation more flexible (#1930)
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/xfvalidators.ts
Due: prettier --write

SF-2120 Add ability to disable the document cache
  src/SIL.XForge/Configuration/RealtimeOptions.cs
  src/SIL.XForge/Realtime/Connection.cs
  src/SIL.XForge/Realtime/RealtimeService.cs
  test/SIL.XForge.Tests/Realtime/ConnectionTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2120 Add ability to disable the document cache (#1929)
  src/SIL.XForge/Configuration/RealtimeOptions.cs
  src/SIL.XForge/Realtime/Connection.cs
  src/SIL.XForge/Realtime/RealtimeService.cs
  test/SIL.XForge.Tests/Realtime/ConnectionTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2122 Adjust comment FAB for RTL target language
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

SF-2122 Adjust comment FAB for RTL target language (#1938)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write
