Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier format"]

Revise
  mongodb/databases/FindLargeDocuments.mongodb
Due: none

Fix delete word support on macOS
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

Fix select all when initiated from the browser right click menu
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-registrations.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/select-all.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

Fix event handler disposal
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/select-all.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

Stop the user from moving out of the current segment if shift is down
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

Disable deleting words on macOS to match Windows/Linux
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

Fix user cutting verse numbers out when holding down shift
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

Prevent selection outside to the current segment
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/select-all.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
Due: prettier --write

Fix segment selection edge cases
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/select-all.ts
Due: prettier --write

SF-3776 Add warnings for Serval admins on onboarding request page
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
Due: prettier --write

Fix contrast for failed message on sync page in dark theme
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/_sync-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/material-styles.scss
Due: prettier --write

Fix warning
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/_sync-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.scss
Due: prettier --write

Pre-fill language code in onboarding form
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-onboarding-form.component.ts
Due: prettier --write

Update packages with npm audit fix
  scripts/db_tools/package-lock.json
  scripts/db_tools/package.json
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

Improve test coverage
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fixes for issues raised by devin
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/QualityEstimationConfig.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix IDE errors and notices about null checks
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3759 Add frontend interface
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
Due: prettier --write

Fix the version type
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/QualityEstimationConfig.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3759 Add model
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/Models/DraftConfig.cs
  src/SIL.XForge.Scripture/Models/QualityEstimationConfig.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3759 Add backend endpoint
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Rename draft requests tab to onboarding requests
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/onboarding-flow.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/app.routes.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/onboarding-request.service.ts
  src/SIL.XForge.Scripture/Controllers/OnboardingRequestRpcController.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix incorrect JSON comparison
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
Due: prettier --write

Updating wording to be more accurate
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
Due: prettier --write

Rename draft requests tab to onboarding requests
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/onboarding-flow.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/app.routes.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-detail/onboarding-request-detail.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-detail/onboarding-request-detail.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-detail/onboarding-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/onboarding-request.service.ts
  src/SIL.XForge.Scripture/Controllers/OnboardingRequestRpcController.cs
  src/SIL.XForge.Scripture/Models/OnboardingRequest.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Update src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-detail/onboarding-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-detail/onboarding-request-detail.component.ts
Due: prettier --write

SF-3768 Add assignee and resolution to draft request detail page
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-assignee-select.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-detail/onboarding-request-detail.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-detail/onboarding-request-detail.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-detail/onboarding-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-requests/onboarding-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/onboarding-request.service.ts
  src/SIL.XForge.Scripture/Controllers/OnboardingRequestRpcController.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3772 Prevent duplicate onboarding requests
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-detail/onboarding-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-onboarding-form.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/onboarding-request.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write
