Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier"]

Fix a bug where read only users had chapter write permissions
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Check for permission downgrade to observer before syncing
  src/SIL.XForge.Scripture/Services/ParatextDataHelper.cs
  src/SIL.XForge.Scripture/Services/SharingLogicWrapper.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextDataHelperTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SharingLogicWrapperTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Correctly rethrow errors that occur when writing notes to Paratext
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Perform a sync when a user is upgraded to a role that can sync
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Code review updates
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3219 Add a message to the draft page advertising the Serval USFM changes
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Add fallback logic for making sure all source-side languages are equivilent
  .vscode/settings.json
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources/draft-sources.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-utils.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-utils.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/language-codes-confirmation/language-codes-confirmation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/language-codes-confirmation/language-codes-confirmation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/nllb-languages.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/i18n.service.ts
Due: prettier --write

Throw invalid data exception when source language not specified
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add test
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix warning
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3260 Show error when draft fails because source is not specified (#3098)
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3245 Fix quill editor scroll and hidden app notice
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
Due: prettier --write

Change AddProjectAsync to AddSmtProjectAsync
  src/SIL.XForge.Scripture/Services/IMachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Remove requirement for source for NMT drafting
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Correctly return the source language for SMT or NMT
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3236 Bump auth0 client to 2.1.x
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/Pages/Index.cshtml
Due: prettier --write

Auth0 client api migration
  src/SIL.XForge.Scripture/Pages/Index.cshtml
Due: none

SF-3236 Bump auth0 client to 2.1.x (#3084)
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/Pages/Index.cshtml
Due: prettier --write

SF-3218 Update audio cache for questions when needed
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/question-doc.ts
Due: prettier --write

SF-3218 Update audio cache for questions when needed (#3082)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/question-doc.ts
Due: prettier --write

SF-3188b Upgrade to sharedb 5.1.1 on client app
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

SF-3188b Upgrade to sharedb 5.1.1 on client app (#3064)
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

SF-3273 Require all source-side languages to be the same
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/confirm-sources/confirm-sources.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/confirm-sources/confirm-sources.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources/draft-sources.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources/draft-sources.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources/draft-sources.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/language-codes-confirmation/language-codes-confirmation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/language-codes-confirmation/language-codes-confirmation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/language-codes-confirmation/language-codes-confirmation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/i18n.service.ts
Due: prettier --write

SF-3267 Show notice to translator when draft sources not set
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Fix project select track expression
  src/SIL.XForge.Scripture/ClientApp/src/app/project-select/project-select.component.html
Due: prettier --write

Fix project select track expression (#3103)
  src/SIL.XForge.Scripture/ClientApp/src/app/project-select/project-select.component.html
Due: prettier --write

Implement tests
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/theme.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/theme.service.ts
Due: prettier --write

Simplify imports
  src/SIL.XForge.Scripture/ClientApp/.storybook/preview.ts
Due: prettier --write

Material Theming
  src/SIL.XForge.Scripture/ClientApp/.storybook/preview.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-chapter-chooser/book-chapter-chooser.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/book-multi-select/book-multi-select.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-control.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/biblical-terms/biblical-terms.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-chooser.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/translate-overview/translate-overview.component.html
  src/SIL.XForge.Scripture/ClientApp/src/index.html
  src/SIL.XForge.Scripture/ClientApp/src/material-styles.scss
  src/SIL.XForge.Scripture/ClientApp/src/styles.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/feature-flags/feature-flag.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/theme.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/theme.service.ts
Due: prettier --write

Adjusted theme colors to match brand guidelines
  src/SIL.XForge.Scripture/ClientApp/src/material-styles.scss
Due: prettier --write

Use takeUntilDestroyed
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
Due: prettier --write

- Adjust beta colors - Adjust editor tab colors
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/_navigation-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/sf-tab-group/_sf-tab-group-theme.scss
Due: prettier --write

- Use primary color for text links - Improve theme styling for my projects - Fix styling for install badge in app bar - Fix heading class for connect project
  src/SIL.XForge.Scripture/ClientApp/src/app/_app-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/connect-project/connect-project.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/_my-projects-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/material-styles.scss
Due: prettier --write

Remove forced colors on buttons
  src/SIL.XForge.Scripture/ClientApp/src/styles.scss
Due: prettier --write

- Refactored themes into their own directories - Created mixin to load the themes - Use Material API for overwriting variables
  src/SIL.XForge.Scripture/ClientApp/angular.json
  src/SIL.XForge.Scripture/ClientApp/src/_variables.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/sf-tab-group/_sf-tab-group-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/sf-tab-group/tab-group.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/material-styles.scss
  src/SIL.XForge.Scripture/ClientApp/src/styles.scss
  src/SIL.XForge.Scripture/ClientApp/src/themes/_dark.scss
  src/SIL.XForge.Scripture/ClientApp/src/themes/_default.scss
  src/SIL.XForge.Scripture/ClientApp/src/themes/themes.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/theme.service.ts
Due: prettier --write

- Added alternative palette option for primary and tertiary - Improved expander styles on checking overview
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/_navigation-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/sf-tab-group/_sf-tab-group-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/sf-tab-group/tab-header/tab-header.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/material-styles.scss
  src/SIL.XForge.Scripture/ClientApp/src/themes/_default.scss
Due: prettier --write

Adjust background color for navigation setting links
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.scss
Due: prettier --write

- Adjust beta color
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/_navigation-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.scss
Due: prettier --write

- Combine dark theme into the default theme - Fix tests after refactor - Remove icon color
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-answers.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/_navigation-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/sync/sync.component.html
  src/SIL.XForge.Scripture/ClientApp/src/material-styles.scss
  src/SIL.XForge.Scripture/ClientApp/src/themes/_dark.scss
  src/SIL.XForge.Scripture/ClientApp/src/themes/_default.scss
  src/SIL.XForge.Scripture/ClientApp/src/themes/themes.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/theme.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/theme.service.ts
Due: prettier --write
