Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Update Serval Downloader to support Parallel Corpora
  tools/ServalDownloader/Program.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Remove unnecessary property from test environment
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix merge of SF-3085 (#2859) from master
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix CodeQL warnings: Log entries created from user input
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge/Utils/StringUtils.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Code review fixes
  tools/ServalDownloader/Program.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add RolePermissions to C# Backend
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge/Models/Project.cs
  src/SIL.XForge/Services/IProjectService.cs
  src/SIL.XForge/Services/ProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Tests/Services/ProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add rolePermissions to RealtimeServer
  src/RealtimeServer/common/models/project-rights.ts
  src/RealtimeServer/common/models/project.ts
  src/RealtimeServer/common/realtime-server.spec.ts
  src/RealtimeServer/common/services/project-data-service.spec.ts
  src/RealtimeServer/common/services/project-service.spec.ts
  src/RealtimeServer/common/services/project-service.ts
  src/RealtimeServer/scriptureforge/models/sf-project-test-data.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-users.component.spec.ts
Due: prettier --write

Add model migration
  src/RealtimeServer/scriptureforge/models/sf-project-rights.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.spec.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.ts
Due: prettier --write

SF-3093 Allow adding draft to a book when project plans are used
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add script and workflow to fetch translations from Crowdin
  .github/workflows/update-localizations.yml
  scripts/update_from_crowdin.mts
Due: prettier --write

Update all translation files from Crowdin
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_zh_CN.json
Due: prettier --write

SF-3092 Fix draft notices displaying when drafting is not enabled.
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
Due: prettier --write

Code review fixes
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Remove ShareEnabled from TypeScript
  src/RealtimeServer/scriptureforge/models/checking-config.ts
  src/RealtimeServer/scriptureforge/models/sf-project-rights.ts
  src/RealtimeServer/scriptureforge/models/sf-project-test-data.ts
  src/RealtimeServer/scriptureforge/models/translate-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-base.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-control.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-control.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-control.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/suggestions-settings-dialog.component.spec.ts
Due: prettier --write

Remove ShareEnabled from C#
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/CheckingConfig.cs
  src/SIL.XForge.Scripture/Models/SFProjectSettings.cs
  src/SIL.XForge.Scripture/Models/TranslateConfig.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add SFProjectRights service
  src/RealtimeServer/scriptureforge/models/sf-project-rights.ts
  src/RealtimeServer/scriptureforge/rightsByRole.json
  src/RealtimeServer/scriptureforge/tsconfig.build.json
  src/RealtimeServer/tsconfig.json
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/Operation.cs
  src/SIL.XForge.Scripture/Models/SFProjectDomain.cs
  src/SIL.XForge.Scripture/Models/SFProjectRole.cs
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/ISFProjectRights.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectRights.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFServiceCollectionExtensions.cs
  src/SIL.XForge/Services/ProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectRightsTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
  test/SIL.XForge.Tests/Services/ProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Refactored Set Permissions/Roles into SFProjectService
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge/Services/IProjectService.cs
  src/SIL.XForge/Services/ProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
  test/SIL.XForge.Tests/Services/ProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Check admin permissions when granting project permissions
  src/RealtimeServer/common/models/project-rights.ts
  src/SIL.XForge.Scripture/Services/ISFProjectRights.cs
  src/SIL.XForge.Scripture/Services/SFProjectRights.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectRightsTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add dependency injection tests
  test/SIL.XForge.Scripture.Tests/Services/DependencyInjectionTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Cause older clients to know that share enabled was not set
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add UI to configure Sharing Settings
  src/SIL.XForge.Scripture/ClientApp/src/app/app.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/sf-project-settings.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Reorganize migrations, add migration for sf_project_secrets
  mongodb/Migrations/20210309-AddProjectRoleToShareKeys.mongodb
  mongodb/Migrations/20230322-AddRecipientShareLinkType.mongodb
  mongodb/Migrations/20241127-AddCreatedByRoleToShareKeys.mongodb
  mongodb/Migrations/AddRecipientShareLinkType.mongodb
  src/Migrations/ShareKeys/migrate-sharekeys.txt
Due: none

Implement new roles permissions in user invite logic
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge/Models/ShareKey.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix the permissions in the project migration script
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.spec.ts
  src/RealtimeServer/scriptureforge/services/sf-project-migrations.ts
Due: prettier --write

SF-3092 Fix draft notices displaying when drafting is not enabled.
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

SF-3095 Fix sync progress display when loading a resource.
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/tabs/editor-tab-add-resource-dialog/editor-tab-add-resource-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/tabs/editor-tab-add-resource-dialog/editor-tab-add-resource-dialog.component.scss
Due: prettier --write

Add test for automatic permissions
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3092 Fix draft notices displaying when drafting is not enabled. (#2864)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

SF-3100 Move to next question when previous question is archived
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
Due: prettier --write

SF-3011 Clean up razor page formatting and use custom site name
  src/SIL.XForge.Scripture/Models/RazorPageSettings.cs
  src/SIL.XForge.Scripture/Pages/Index.cshtml
  src/SIL.XForge.Scripture/Pages/Index.cshtml.cs
  src/SIL.XForge.Scripture/Pages/Shared/Components/Footer/Default.cshtml
  src/SIL.XForge.Scripture/Pages/Shared/_Layout.cshtml
  src/SIL.XForge.Scripture/Pages/Shared/_SelectLanguagePartial.cshtml
  src/SIL.XForge.Scripture/ViewComponents/FooterViewComponent.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Update home page content
  .vscode/settings.json
  src/SIL.XForge.Scripture/Pages/Index.cshtml
  src/SIL.XForge.Scripture/Resources/Pages.Index.ar.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.az.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.de.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.es.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.fr.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.id.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.km.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.kyu.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.lo.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.npi.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.pt-BR.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.ro.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.ru.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.zh-CN.resx
  src/SIL.XForge.Scripture/wwwroot/css/sf.min.css
  src/SIL.XForge.Scripture/wwwroot/images/ai-drafting.svg
  src/SIL.XForge.Scripture/wwwroot/images/translate2.svg
  src/SIL.XForge.Scripture/wwwroot/scss/_footer.scss
  src/SIL.XForge.Scripture/wwwroot/scss/_home.scss
  src/SIL.XForge.Scripture/wwwroot/scss/_layout.scss
  src/SIL.XForge.Scripture/wwwroot/scss/_learn_more.scss
  src/SIL.XForge.Scripture/wwwroot/scss/_variables.scss
Due: prettier --write

Implemented white label logic
  src/SIL.XForge.Scripture/ClientApp/src/assets/images/sf_logo_with_space.svg
  src/SIL.XForge.Scripture/Models/RazorPageSettings.cs
  src/SIL.XForge.Scripture/Pages/Index.cshtml
  src/SIL.XForge.Scripture/Pages/Shared/_Footer.cshtml
  src/SIL.XForge.Scripture/Pages/Shared/_Layout.cshtml
  src/SIL.XForge.Scripture/Pages/Shared/_SelectLanguagePartial.cshtml
  src/SIL.XForge.Scripture/Pages/_ViewImports.cshtml
  src/SIL.XForge.Scripture/Resources/Pages.Index.ar.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.az.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.de.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.es.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.fr.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.id.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.km.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.kyu.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.lo.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.npi.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.pt-BR.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.ro.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.ru.resx
  src/SIL.XForge.Scripture/Resources/Pages.Index.zh-CN.resx
  src/SIL.XForge.Scripture/Services/IRazorPageSettings.cs
  src/SIL.XForge.Scripture/Services/RazorPageSettings.cs
  src/SIL.XForge.Scripture/Services/SFServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/SharedResource.cs
  src/SIL.XForge.Scripture/ViewComponents/FooterViewComponent.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Removed old learn more page
  src/SIL.XForge.Scripture/Pages/LearnMore.cshtml
  src/SIL.XForge.Scripture/Pages/LearnMore.cshtml.cs
  src/SIL.XForge.Scripture/Pages/Shared/_Footer.cshtml
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.ar.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.az.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.de.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.es.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.fr.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.id.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.km.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.kyu.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.lo.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.npi.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.pt-BR.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.ro.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.ru.resx
  src/SIL.XForge.Scripture/Resources/Pages.LearnMore.zh-CN.resx
  src/SIL.XForge.Scripture/wwwroot/scss/_learn_more.scss
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Strongly typed values that were not strongly typed
  src/SIL.XForge.Scripture/Pages/Index.cshtml
  src/SIL.XForge.Scripture/Pages/Index.cshtml.cs
  src/SIL.XForge.Scripture/Pages/Shared/_SelectLanguagePartial.cshtml
  src/SIL.XForge.Scripture/Pages/Status/Error.cshtml
  src/SIL.XForge.Scripture/Pages/Status/Error.cshtml.cs
  src/SIL.XForge.Scripture/Services/IRazorPageSettings.cs
  src/SIL.XForge.Scripture/Services/RazorPageSettings.cs
  src/SIL.XForge/Configuration/AuthOptions.cs
  src/SIL.XForge/Configuration/BugsnagOptions.cs
  src/SIL.XForge/Configuration/ConfigurationServiceCollectionExtensions.cs
  src/SIL.XForge/Configuration/PublicAuthOptions.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

base64 the audience to stop basic web scraping of the value
  src/SIL.XForge.Scripture/Pages/Index.cshtml
Due: none

Add test cases
  src/SIL.XForge/Configuration/AuthOptions.cs
  src/SIL.XForge/Configuration/BugsnagOptions.cs
  src/SIL.XForge/Configuration/PublicAuthOptions.cs
  test/SIL.XForge.Scripture.Tests/Services/DependencyInjectionTests.cs
  test/SIL.XForge.Tests/Services/AuthServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add test cases
  codecov.yml
  src/SIL.XForge.Scripture/Pages/Status/Error.cshtml.cs
  src/SIL.XForge.Scripture/Services/RazorPageSettings.cs
  src/SIL.XForge.Scripture/SharedResource.cs
  src/SIL.XForge/Configuration/AuthOptions.cs
  src/SIL.XForge/Configuration/BugsnagOptions.cs
  src/SIL.XForge/Configuration/PublicAuthOptions.cs
  test/SIL.XForge.Scripture.Tests/Pages/ErrorModelTests.cs
  test/SIL.XForge.Scripture.Tests/Services/DependencyInjectionTests.cs
  test/SIL.XForge.Scripture.Tests/Services/RazorPageSettingsTests.cs
  test/SIL.XForge.Tests/Services/AuthServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Added ability to collapse similar books into ranges
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

Switched draft generation to horizontal stepper
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,less,html,md,yml}
  dotnet format analyzers --include: any of: *.cs
  dotnet format style --include: any of: *.cs
  dotnet csharpier: any of: *.cs
