Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier"]

SF-2711 Do not display sync complete before ops are written to Mongo
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2711 Do not display sync complete before ops are written to Mongo (#2575)
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

remove focus from test
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
Due: prettier --write

Translators should see draft warning messages without settings link
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Update dotnet dependencies
  src/Help/UpdateHelp/UpdateHelp.csproj
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge/SIL.XForge.csproj
  test/SIL.XForge.Scripture.Tests/SIL.XForge.Scripture.Tests.csproj
  test/SIL.XForge.Tests/SIL.XForge.Tests.csproj
Due: none

(fix sshd key regeneration)
  deploy/vagrant/sfdev/base/instructions.md
  deploy/vagrant/sfdev/base/provision
Due: prettier --write

Require share link language selection
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
Due: prettier --write

Import
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/share/share-dialog.component.spec.ts
Due: prettier --write

Update dotnet dependencies (#2582)
  src/Help/UpdateHelp/UpdateHelp.csproj
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge/SIL.XForge.csproj
  test/SIL.XForge.Scripture.Tests/SIL.XForge.Scripture.Tests.csproj
  test/SIL.XForge.Tests/SIL.XForge.Tests.csproj
Due: none

Add Serval Build Report Generator
  tools/ServalBuildReport/Program.cs
  tools/ServalBuildReport/README.md
  tools/ServalBuildReport/ServalBuildReport.csproj
  tools/ServalBuildReport/ServalBuildReport.sln
  tools/ServalBuildReport/appsettings.json
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Null check for remote changes
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

SF-2802 Mark ops as coming from apply draft or restore history
  src/RealtimeServer/common/realtime-server.ts
  src/RealtimeServer/common/utils/sharedb-utils.ts
  src/RealtimeServer/common/utils/test-utils.ts
  src/RealtimeServer/scriptureforge/services/text-service.spec.ts
  src/RealtimeServer/typings/sharedb/index.d.ts
  src/RealtimeServer/typings/sharedb/lib/client.d.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/text-doc.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/text-doc.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/text-doc.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text-view-model.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-chooser.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-chooser.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/typings/sharedb.d.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/memory-realtime-remote-store.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/models/realtime-doc.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/realtime-remote-store.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/sharedb-realtime-remote-store.ts
Due: prettier --write

Always send the source for TextDoc ops
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/text-doc.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/text-doc.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/text-doc.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-chooser.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/models/realtime-doc.ts
Due: prettier --write

Code review fixes
  src/RealtimeServer/common/index.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge/Realtime/OpMetadata.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2802 Update Revision History API to return revision metadata
  src/SIL.XForge.Scripture/Controllers/ParatextController.cs
  src/SIL.XForge.Scripture/Models/DocumentRevision.cs
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge/Realtime/MemoryConnection.cs
  src/SIL.XForge/Realtime/OpMetadata.cs
  test/SIL.XForge.Scripture.Tests/Controllers/ParatextControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Improve backend op source support
  src/SIL.XForge.Scripture/Models/DocumentRevision.cs
  src/SIL.XForge.Scripture/Models/DocumentRevisionSource.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge/Models/QueuedOperation.cs
  src/SIL.XForge/Realtime/Connection.cs
  src/SIL.XForge/Realtime/Document.cs
  src/SIL.XForge/Realtime/IConnection.cs
  src/SIL.XForge/Realtime/IDocument.cs
  src/SIL.XForge/Realtime/IRealtimeServer.cs
  src/SIL.XForge/Realtime/MemoryConnection.cs
  src/SIL.XForge/Realtime/MemoryDocument.cs
  src/SIL.XForge/Realtime/OpMetadata.cs
  src/SIL.XForge/Realtime/OpSource.cs
  src/SIL.XForge/Realtime/RealtimeServer.cs
  test/SIL.XForge.Scripture.Tests/Controllers/ParatextControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Tests/Realtime/ConnectionTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add support for the backend to set the source
  src/RealtimeServer/common/index.ts
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge/Models/QueuedOperation.cs
  src/SIL.XForge/Realtime/Connection.cs
  src/SIL.XForge/Realtime/Document.cs
  src/SIL.XForge/Realtime/IConnection.cs
  src/SIL.XForge/Realtime/IDocument.cs
  src/SIL.XForge/Realtime/IRealtimeServer.cs
  src/SIL.XForge/Realtime/Json0/Json0Extensions.cs
  src/SIL.XForge/Realtime/MemoryConnection.cs
  src/SIL.XForge/Realtime/MemoryDocument.cs
  src/SIL.XForge/Realtime/RealtimeServer.cs
  test/SIL.XForge.Tests/Realtime/ConnectionTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2802 Display an icon in the history dropdown matching the source
  src/SIL.XForge.Scripture/ClientApp/src/app/core/paratext.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/editor-history.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-chooser.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-chooser.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-chooser.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-revision-format.pipe.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Code review fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/text-doc.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/paratext.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/text-doc.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text-view-model.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-chooser.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-chooser.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-history/history-chooser/history-chooser.component.ts
  src/SIL.XForge.Scripture/Models/DocumentRevision.cs
  src/SIL.XForge.Scripture/Models/DocumentRevisionSource.cs
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/ApiDocumentationExtensions.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge/Realtime/MemoryConnection.cs
  test/SIL.XForge.Scripture.Tests/Controllers/ParatextControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2833 Use Source USFM for pre-translation drafts
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/PreTranslationService.cs
  test/SIL.XForge.Scripture.Tests/Services/PreTranslationServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2833 Fix visual corruption when draft has a different structure
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text-view-model.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
Due: prettier --write

Code Review suggestion changes
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

remove focus from spec
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
Due: prettier --write

update mockAuthService spy object to include stub method
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
Due: prettier --write

Add Deploy GitHub workflows
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-qa.yml
  .github/workflows/deploy.yml
Due: prettier --write

Increment versions
  .github/workflows/compute-next-prod-version.yml
  .github/workflows/compute-next-stag-version.yml
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-qa.yml
  .github/workflows/deploy.yml
Due: prettier --write

(support releasing hotfix
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-qa.yml
Due: prettier --write

(Release from spefic QA version
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-qa.yml
Due: prettier --write

deploy workflows merge branch
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-qa.yml
  .github/workflows/release-to-qa.yml
Due: prettier --write

(will need to --force over old hotfixes
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
Due: prettier --write

(use environments
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
Due: prettier --write

(Some highest level terminology rename
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  .github/workflows/release.yml
Due: prettier --write

(move most of the python into a py file
  .github/workflows/compute-next-prod-version.yml
  .github/workflows/compute-next-stag-version.yml
  .github/workflows/utils.py
Due: prettier --write

(adjust computer versions
  .github/workflows/compute-next-prod-version.yml
  .github/workflows/compute-next-stag-version.yml
Due: prettier --write

(fix path
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
Due: prettier --write

(tmp name to avoid collision in testing
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
Due: prettier --write

(tmp trigger for testing
  .github/workflows/release-qa.yml
Due: prettier --write

(adjusting
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
Due: prettier --write

(co first
  .github/workflows/release-qa.yml
Due: prettier --write
