Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier format"]

SF-3889 Add user feedback endpoint and collection
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/user-feedback/user-feedback.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessApplicationBuilderExtensions.cs
  src/SIL.XForge.Scripture/DataAccess/SFDataAccessServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Models/UserFeedback.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Add support for Docker on Linux kernel 7.0 hosts
  .devcontainer/docker-compose.yml
  src/Docker/docker-compose.override.yml
Due: prettier --write

Fix support for Linux kernel 7.0 in the Vagrant box
  deploy/vagrant/sfdev/Vagrantfile
Due: none

SF-3934 Remove unused function GetDeltaFromUsfmAsync
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3934 Remove older permissions for creating texts from frontend
  src/RealtimeServer/scriptureforge/rightsByRole.json
  src/RealtimeServer/scriptureforge/services/text-service.spec.ts
  src/RealtimeServer/scriptureforge/services/text-service.ts
Due: prettier --write

SF-3934 Show apply draft permission errors on the frontend
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3934 Ensure user permission before applying draft
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3930 Notify user when a draft result update is available
  src/RealtimeServer/scriptureforge/models/draft-result.ts
  src/RealtimeServer/scriptureforge/models/sf-project-user-config.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/_navigation-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/navigation/navigation.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/Models/DraftResult.cs
  src/SIL.XForge.Scripture/Models/SFProjectUserConfig.cs
  src/SIL.XForge.Scripture/Services/IMachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Change the time for feedback dialog to show up to 5 minutes
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

SF-3934 Translator offered option to import a chapter to a book that does not exist (#4175)
  src/RealtimeServer/scriptureforge/rightsByRole.json
  src/RealtimeServer/scriptureforge/services/text-service.spec.ts
  src/RealtimeServer/scriptureforge/services/text-service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor-draft/editor-draft.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3935 Do not add a date filter to project specific serval builds
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs-export.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.ts
Due: prettier --write

SF-3935 Skip date filter when opening serval builds via a project
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/onboarding-request-detail/onboarding-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-administration.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-builds.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.ts
Due: prettier --write

Specify date range default on draft jobs page
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/date-range-picker.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.html
Due: prettier --write

Merge commit from fork
  src/RealtimeServer/common/services/json-doc-service.spec.ts
  src/RealtimeServer/common/services/json-doc-service.ts
  src/RealtimeServer/common/services/project-data-service.spec.ts
  src/RealtimeServer/common/services/project-data-service.ts
  src/RealtimeServer/common/services/project-service.spec.ts
  src/RealtimeServer/common/services/project-service.ts
  src/RealtimeServer/common/services/user-service.spec.ts
  src/RealtimeServer/common/services/user-service.ts
  src/RealtimeServer/common/utils/test-utils.ts
  src/RealtimeServer/scriptureforge/services/biblical-term-service.ts
  src/RealtimeServer/scriptureforge/services/note-thread-service.ts
  src/RealtimeServer/scriptureforge/services/question-service.spec.ts
  src/RealtimeServer/scriptureforge/services/question-service.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.spec.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-service.ts
  src/RealtimeServer/scriptureforge/services/text-audio-service.spec.ts
  src/RealtimeServer/scriptureforge/services/text-audio-service.ts
  src/RealtimeServer/scriptureforge/services/training-data-service.spec.ts
  src/RealtimeServer/scriptureforge/services/training-data-service.ts
  src/RealtimeServer/typings/sharedb-access.d.ts
  src/RealtimeServer/typings/sharedb/index.d.ts
Due: prettier --write

Fix authorization of client edits to realtime docs
  src/RealtimeServer/common/services/json-doc-service.spec.ts
  src/RealtimeServer/common/services/json-doc-service.ts
  src/RealtimeServer/common/services/project-data-service.spec.ts
  src/RealtimeServer/common/services/project-data-service.ts
  src/RealtimeServer/common/services/project-service.spec.ts
  src/RealtimeServer/common/services/project-service.ts
  src/RealtimeServer/common/services/user-service.spec.ts
  src/RealtimeServer/common/services/user-service.ts
  src/RealtimeServer/common/utils/test-utils.ts
  src/RealtimeServer/scriptureforge/services/biblical-term-service.ts
  src/RealtimeServer/scriptureforge/services/note-thread-service.ts
  src/RealtimeServer/scriptureforge/services/question-service.spec.ts
  src/RealtimeServer/scriptureforge/services/question-service.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.spec.ts
  src/RealtimeServer/scriptureforge/services/sf-project-service.ts
  src/RealtimeServer/scriptureforge/services/sf-project-user-config-service.ts
  src/RealtimeServer/scriptureforge/services/text-audio-service.spec.ts
  src/RealtimeServer/scriptureforge/services/text-audio-service.ts
  src/RealtimeServer/scriptureforge/services/training-data-service.spec.ts
  src/RealtimeServer/scriptureforge/services/training-data-service.ts
  src/RealtimeServer/typings/sharedb-access.d.ts
  src/RealtimeServer/typings/sharedb/index.d.ts
Due: prettier --write

Update all translation files from Crowdin
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ar.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_az.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_de.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_es.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fa.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fr.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_hi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_id.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_km.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_kyu.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_lo.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_npi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_pt_BR.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ro.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ru.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_zh_CN.json
Due: prettier --write

SF-3953 Escape verse text shown in the note dialog
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.ts
Due: prettier --write

Update list of supported fonts
  src/SIL.XForge.Scripture/fonts.json
Due: prettier --write

Update PNPM dependencies via pnpm audit --fix update
  scripts/db_tools/package.json
  scripts/db_tools/pnpm-lock.yaml
  src/RealtimeServer/package.json
  src/RealtimeServer/pnpm-lock.yaml
  src/RealtimeServer/pnpm-workspace.yaml
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/pnpm-lock.yaml
  src/SIL.XForge.Scripture/ClientApp/pnpm-workspace.yaml
Due: prettier --write
