Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier"]

Updated Migrator to use Serval
  src/Migrations/ServalMigration/MigratorFeatureSessionManager.cs
  src/Migrations/ServalMigration/Program.cs
  src/Migrations/ServalMigration/Properties/launchSettings.json
  src/Migrations/ServalMigration/ServalMigration.csproj
  src/Migrations/ServalMigration/ServalMigration.sln
  src/Migrations/ServalMigration/ServalMigrator.cs
  src/Migrations/ServalMigration/Startup.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Code Review fixes
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fixes and clean ups of the new Serval Integration
  src/SIL.XForge.Scripture/Services/MachineAuthorizationHandler.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge.Scripture/appsettings.Development.json
  src/SIL.XForge.Scripture/appsettings.Staging.json
  src/SIL.XForge.Scripture/appsettings.Testing.json
  src/SIL.XForge.Scripture/appsettings.json
  src/SIL.XForge/Configuration/ConfigurationServiceCollectionExtensions.cs
  src/SIL.XForge/Configuration/ServalOptions.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Updated machine.js to 2.4.1
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/translation-result-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Fixed bugs with the Serval Client and Tests
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/appsettings.Staging.json
  src/SIL.XForge.Scripture/appsettings.json
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Updated frontend to use new Machine.js library
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/src/app/core/translation-engine.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/http-client.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/phrase-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/range-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/remote-translation-engine.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/segment-pair-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/translation-result-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/translation-source.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/word-graph-arc-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/word-graph-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translate-metrics-session.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/exception-handling-service.spec.ts
Due: prettier --write

Added V3 Machine API with Serval support
  src/SIL.XForge.Scripture/Controllers/MachineApiV2Controller.cs
  src/SIL.XForge.Scripture/Models/MachineApiV2.cs
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiV2ControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Code Review Fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/core/translation-engine.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fixed change detection for suggestions
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

SF-2030 - Fix transparent authentication broken on QA - Run pullAUthUserProfile for both QA and live
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/auth.service.ts
Due: prettier --write

Update highlight marker top property to be selection bound top
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

Increase Hangfire Timeout to 4 hours
  src/SIL.XForge/DataAccess/DataAccessServiceCollectionExtensions.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Increase Hangfire Timeout to 4 hours (#1858)
  src/SIL.XForge/DataAccess/DataAccessServiceCollectionExtensions.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Only sync books that can be edited in SF to PT
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Update modified books, notes & permissions in SF
  src/SIL.XForge.Scripture/Models/ParatextSyncResults.cs
  src/SIL.XForge.Scripture/Models/SyncMetrics.cs
  src/SIL.XForge.Scripture/Services/IParatextDataHelper.cs
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextDataHelper.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Models/ParatextSyncResultsTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Changes from Code Review Feedback
  src/SIL.XForge.Scripture/Models/ParatextSyncResults.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Added Paratext Repo Info Tool
  tools/RepoInfo/Program.cs
  tools/RepoInfo/RepoInfo.csproj
  tools/RepoInfo/RepoInfo.sln
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-2010 Create generic dialog launcher for material dialogs.
  src/SIL.XForge.Scripture/ClientApp/.storybook/util/mat-dialog-launch.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-delete-dialog.stories.ts
Due: prettier --write

SF-2010 Use bootstrap breakpoint mixins for media queries.
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-projects.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/system-administration/sa-users.component.scss
Due: prettier --write

SF-2015 Convert font size component to material.
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/font-size/font-size.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/font-size/font-size.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/font-size/font-size.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/font-size/font-size.component.ts
Due: prettier --write

Moved default first item selection from code-behind to template.
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/suggestions.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/suggestions.component.ts
Due: prettier --write

Added story to test first suggestion starts selected.
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/suggestions.stories.ts
Due: prettier --write

tool: Update Chromatic workflow to build tip of branch
  .github/workflows/chromatic.yml
Due: prettier --write

tool: Update Chromatic workflow to build tip of branch (#1859)
  .github/workflows/chromatic.yml
Due: prettier --write

Fixed the Delete Project story and moved it to its own file/category
  src/SIL.XForge.Scripture/ClientApp/.storybook/story-utils.ts
  src/SIL.XForge.Scripture/ClientApp/src/mat-dialog.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/mdc-dialog.stories.ts
Due: prettier --write

Removed warning icon cutoff
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.scss
Due: prettier --write

Removed unused MatDialog, now that we're using the service
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.ts
Due: prettier --write

Centered Warning icon in Delete Project dialog
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.html
Due: prettier --write

Replaced fxFlex with flexbox and removed extra space
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.scss
Due: prettier --write

Storybook testing for Delete Project dialog
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.stories.ts
Due: prettier --write

NoopAnimationsModule for test
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.spec.ts
Due: prettier --write

Refactored out duplication in a story file
  src/SIL.XForge.Scripture/ClientApp/.storybook/story-utils.ts
Due: prettier --write

Cleanup
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.html
Due: prettier --write

Cleanup
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.ts
Due: prettier --write

Delete project dialog uplift to Material
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.ts
Due: prettier --write

Adding explicit types to the HTML elements in some story files
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-comments/checking-comment-form/checking-comment-form.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.stories.ts
Due: prettier --write

SF-2012 Convert delete project dialog to Material (#1843)
  src/SIL.XForge.Scripture/ClientApp/.storybook/story-utils.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-comments/checking-comment-form/checking-comment-form.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/delete-project-dialog/delete-project-dialog.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/mat-dialog.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/mdc-dialog.stories.ts
Due: prettier --write

SF-1997 Delete notes
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/note-thread-doc.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/note-dialog/note-dialog.component.ts
  src/SIL.XForge.Scripture/Models/Comment.cs
  src/SIL.XForge.Scripture/Models/NoteThreadChange.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextSyncRunnerTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier
