Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier"]

Add caching for dotnet build workflow
  .github/workflows/build-and-test.yml
  .github/workflows/ci-production-build.yml
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/packages.lock.json
  src/SIL.XForge/SIL.XForge.csproj
  src/SIL.XForge/packages.lock.json
Due: prettier --write

Add caching to codeQL and USJ project
  .github/workflows/build-and-test.yml
  .github/workflows/ci-production-build.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  src/SIL.Converters.Usj/SIL.Converters.Usj.csproj
  src/SIL.Converters.Usj/packages.lock.json
Due: prettier --write

Refactor quill-scripture.ts to allow testing
  .vscode/settings.json
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-clipboard.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-clipboard.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-formats/quill-attributors.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-formats/quill-attributors.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-formats/quill-blot-value-types.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-formats/quill-blots.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-formats/quill-blots.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-history.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-history.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-registrations.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-registrations.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-scripture.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-util.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-util.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text-view-model.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/text.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
Due: prettier --write

use valid segment strings in tests
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-clipboard.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-history.spec.ts
Due: prettier --write

Add caching to chromatic and linter
  .github/workflows/chromatic.yml
  .github/workflows/ci-lint-prettier.yml
Due: prettier --write

SF-3217 Cache build dependencies (#3028)
  .github/workflows/build-and-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci-lint-prettier.yml
  .github/workflows/ci-production-build.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  src/SIL.Converters.Usj/SIL.Converters.Usj.csproj
  src/SIL.Converters.Usj/packages.lock.json
  src/SIL.XForge.Scripture/SIL.XForge.Scripture.csproj
  src/SIL.XForge.Scripture/packages.lock.json
  src/SIL.XForge/SIL.XForge.csproj
  src/SIL.XForge/packages.lock.json
Due: prettier --write

SF-3133 Improve USJ conversion support for ParatextData
  src/SIL.Converters.Usj/UsjToUsx.cs
  src/SIL.Converters.Usj/UsxToUsj.cs
  test/SIL.Converters.Usj.Tests/UsjToUsxTests.cs
  test/SIL.Converters.Usj.Tests/UsxToUsjTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3133 Fix USJ conversion of NBSP
  src/SIL.Converters.Usj/UsxToUsj.cs
  test/SIL.Converters.Usj.Tests/TestData.cs
  test/SIL.Converters.Usj.Tests/UsjToUsxTests.cs
  test/SIL.Converters.Usj.Tests/UsxToUsjTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3133 Add XDocument support to the USJ converter
  src/SIL.Converters.Usj/UsjToUsx.cs
  src/SIL.Converters.Usj/UsxToUsj.cs
  test/SIL.Converters.Usj.Tests/UsjToUsxTests.cs
  test/SIL.Converters.Usj.Tests/UsxToUsjTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix packages.lock.json to support dependabot PR
  src/SIL.XForge.Scripture/packages.lock.json
Due: prettier --write

ci: fix zizmor alert for secrets-inherit
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
Due: prettier --write

ci: fix zizmor alert for artipacked
  .github/workflows/build-and-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci-lint-prettier.yml
  .github/workflows/ci-production-build.yml
  .github/workflows/codeql.yml
  .github/workflows/compute-next-version.yml
  .github/workflows/docker-dev.yml
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  .github/workflows/release.yml
  .github/workflows/update-localizations.yml
Due: prettier --write

ci: fix zizmor alert for template-injection
  .github/workflows/build-and-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci-lint-prettier.yml
  .github/workflows/ci-production-build.yml
  .github/workflows/compute-next-version.yml
  .github/workflows/docker-dev.yml
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  .github/workflows/release.yml
Due: prettier --write

ci: fix zizmor alert for excessive-permissions
  .github/workflows/build-and-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci-lint-prettier.yml
  .github/workflows/ci-production-build.yml
  .github/workflows/codeql.yml
  .github/workflows/compute-next-version.yml
  .github/workflows/docker-dev.yml
  .github/workflows/grit.yml
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  .github/workflows/release.yml
  .github/workflows/update-localizations.yml
  .github/workflows/zizmor.yml
Due: prettier --write

add tests for embeds in getLastChangeIndex tests
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-history.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-history.ts
Due: prettier --write

Replace multiple newlines with space on editor paste
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-clipboard.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/text/quill-editor-registration/quill-clipboard.ts
Due: prettier --write

SF-2829 Allow paratext roles that have changed to be updated
  src/SIL.XForge.Scripture/ClientApp/src/app/core/models/paratext-project.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/project.service.ts
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/ParatextProject.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Code review changes
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.ts
Due: prettier --write

Fix packages.lock.json to support dependabot PR (#3040)
  src/SIL.XForge.Scripture/packages.lock.json
Due: prettier --write

SF-3220 Fix CodeQL crashes
  .github/workflows/codeql.yml
Due: prettier --write

USJ roundtrip test
  test/SIL.Converters.Usj.Tests/SIL.Converters.Usj.Tests.csproj
  test/SIL.Converters.Usj.Tests/UsxToUsjTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Delta roundtrip test
  test/SIL.XForge.Scripture.Tests/Services/DeltaUsxMapperTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3220 Fix CodeQL crashes (#3041)
  .github/workflows/codeql.yml
Due: prettier --write

SF-3227 Investigate and fix zizmor alerts (#3038)
  .github/workflows/build-and-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci-lint-prettier.yml
  .github/workflows/ci-production-build.yml
  .github/workflows/codeql.yml
  .github/workflows/compute-next-version.yml
  .github/workflows/docker-dev.yml
  .github/workflows/grit.yml
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  .github/workflows/release.yml
  .github/workflows/update-localizations.yml
  .github/workflows/zizmor.yml
Due: prettier --write

SF-3133 Add finishing build state
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-states.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3133 Add text_documents to the realtime server
  scripts/extract-project.bat
  scripts/extract-project.sh
  src/RealtimeServer/common/models/validation-schema.ts
  src/RealtimeServer/common/realtime-server.ts
  src/RealtimeServer/common/utils/sharedb-utils.ts
  src/RealtimeServer/common/utils/test-utils.ts
  src/RealtimeServer/package-lock.json
  src/RealtimeServer/package.json
  src/RealtimeServer/scriptureforge/models/sf-project-rights.ts
  src/RealtimeServer/scriptureforge/models/text-document.ts
  src/RealtimeServer/scriptureforge/realtime-server.ts
  src/RealtimeServer/scriptureforge/rightsByRole.json
  src/RealtimeServer/scriptureforge/services/text-document-migrations.ts
  src/RealtimeServer/scriptureforge/services/text-document-service.spec.ts
  src/RealtimeServer/scriptureforge/services/text-document-service.ts
Due: prettier --write

SF-3133 Add support for saving drafts as USJ
  src/SIL.XForge.Scripture/Models/ServalData.cs
  src/SIL.XForge.Scripture/Models/TextDocument.cs
  src/SIL.XForge.Scripture/Realtime/SFRealtimeServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  test/SIL.XForge.Scripture.Tests/Services/DependencyInjectionTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3133 Add new API endpoints and update existing endpoints
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Models/DocumentRevision.cs
  src/SIL.XForge.Scripture/Models/MachineApi.cs
  src/SIL.XForge.Scripture/Models/ServalData.cs
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3133 Retrieve drafts from the Realtime Server
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Models/TextDocument.cs
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/IParatextService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/ParatextService.cs
  src/SIL.XForge/Realtime/MemoryConnection.cs
  test/SIL.XForge.Scripture.Tests/Controllers/MachineApiControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/ParatextServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Allow Serval admins to generate drafts without being translator or admin on project
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/project-router.guard.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
Due: prettier --write

Attempt to allow serval admins to build projects
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Controllers/SFProjectsUploadController.cs
  src/SIL.XForge.Scripture/Models/MachineApi.cs
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/ITrainingDataService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/TrainingDataService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier
