Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3209 Enable "manage audio" for users without questions permission (#3075)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/chapter-audio-dialog/chapter-audio-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/chapter-audio-dialog/chapter-audio-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/chapter-audio-dialog/chapter-audio-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/chapter-audio-dialog/chapter-audio-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-scripture-audio-player/checking-scripture-audio-player.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-scripture-audio-player/checking-scripture-audio-player.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-scripture-audio-player/checking-scripture-audio-player.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
Due: prettier --write

SF-3315 Use TranslationScriptureRanges for draft generation
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.ts
Due: prettier --write

SF-3315 Use TranslationScriptureRanges for draft generation (#3151)
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.ts
Due: prettier --write

SF-3198 Refactor background jobs to use lifetime scopes
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/IMachineProjectService.cs
  src/SIL.XForge.Scripture/Services/IParatextSyncRunner.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/SyncService.cs
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge.Scripture/packages.lock.json
  src/SIL.XForge/SIL.XForge.csproj
  src/SIL.XForge/packages.lock.json
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Update Autofac to 8.2.1
  src/SIL.XForge.Scripture/packages.lock.json
  src/SIL.XForge/SIL.XForge.csproj
  src/SIL.XForge/packages.lock.json
Due: prettier --write

SF-3198 Fix memory leak in RealtimeService from CheckIfRunning()
  src/SIL.XForge/Realtime/IRealtimeService.cs
  src/SIL.XForge/Realtime/MemoryRealtimeService.cs
  src/SIL.XForge/Realtime/RealtimeService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3198 Fix memory leak in RealtimeService from CheckIfRunning() (#3147)
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/IMachineProjectService.cs
  src/SIL.XForge.Scripture/Services/IParatextSyncRunner.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/ParatextSyncRunner.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFServiceCollectionExtensions.cs
  src/SIL.XForge.Scripture/Services/SyncService.cs
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge.Scripture/packages.lock.json
  src/SIL.XForge/Realtime/IRealtimeService.cs
  src/SIL.XForge/Realtime/MemoryRealtimeService.cs
  src/SIL.XForge/Realtime/RealtimeService.cs
  src/SIL.XForge/SIL.XForge.csproj
  src/SIL.XForge/packages.lock.json
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3318 Skip prompt when no changes made on draft source page
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources/draft-sources.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3318 Skip prompt when no changes made on draft source page (#3155)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources/draft-sources.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

WIP Add draft history
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/_draft-history-entry-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/material-styles.scss
Due: prettier --write

Clean up and fix tests
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Update get builds API
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/Models/ServalBuildAdditionalInfo.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3282 Hide current project from draft sources options
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources/draft-sources.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources/draft-sources.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources/draft-sources.stories.ts
Due: prettier --write

Improve link sharing wording
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
Due: prettier --write

Record when pre-translations are downloaded to SF
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-download-button/draft-download-button.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-download-button/draft-download-button.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-download-button/draft-download-button.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-download-button/draft-download-button.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-list.component.html
  src/SIL.XForge.Scripture/Controllers/MachineApiController.cs
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Models/ServalBuildAdditionalInfo.cs
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Cleanup
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-questions/checking-questions.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-questions/checking-questions.component.ts
Due: prettier --write

Removed explanatory label
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-questions/checking-questions.component.html
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/checking_en.json
Due: prettier --write

Saving recording automatically (except for inline recording)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-answers.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/audio-recorder-dialog/audio-recorder-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/audio-recorder-dialog/audio-recorder-dialog.component.ts
Due: prettier --write

SF-3301 Use generic scribdoc logo for white label site
  src/SIL.XForge.Scripture/ClientApp/src/assets/images/sd.svg
  src/SIL.XForge.Scripture/Pages/Shared/_Layout.cshtml
Due: none

Update image name on landing page
  src/SIL.XForge.Scripture/Pages/Shared/_Layout.cshtml
Due: none

Code review fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-sources/draft-sources.stories.ts
Due: prettier --write

Add e2e tests
  .github/workflows/e2e-tests.yml
  src/SIL.XForge.Scripture/ClientApp/e2e/.gitignore
  src/SIL.XForge.Scripture/ClientApp/e2e/README.md
  src/SIL.XForge.Scripture/ClientApp/e2e/characterize-tests.mts
  src/SIL.XForge.Scripture/ClientApp/e2e/components/my-projects.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/components/navigation.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/copy_help_site_screenshots.mts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-globals.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-test-run-logger.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-utils.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e.mts
  src/SIL.XForge.Scripture/ClientApp/e2e/pass-probability-ts
  src/SIL.XForge.Scripture/ClientApp/e2e/playwright-repl.mts
  src/SIL.XForge.Scripture/ClientApp/e2e/pre_merge_ci.sh
  src/SIL.XForge.Scripture/ClientApp/e2e/presets.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/record_mobile_checking_videos.mts
  src/SIL.XForge.Scripture/ClientApp/e2e/run_log.json
  src/SIL.XForge.Scripture/ClientApp/e2e/test-definitions.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/test_characterization.json
  src/SIL.XForge.Scripture/ClientApp/e2e/test_data/tq_JHN.tsv
  src/SIL.XForge.Scripture/ClientApp/e2e/update_help_site_screenshots.sh
  src/SIL.XForge.Scripture/ClientApp/e2e/user-emulator.mts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/community-checking.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/generate-draft.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/localized-screenshots.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/smoke-tests.mts
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
  src/SIL.XForge.Scripture/ClientApp/src/app/my-projects/my-projects.component.html
  src/SIL.XForge.Scripture/locales.json
Due: prettier --write

sudo
  .github/workflows/e2e-tests.yml
Due: prettier --write

Add to README
  src/SIL.XForge.Scripture/ClientApp/e2e/README.md
Due: prettier --write

Wait 10 times for dotnet server to start
  src/SIL.XForge.Scripture/ClientApp/e2e/pre_merge_ci.sh
Due: none

Increase timeout for saving draft settings
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/localized-screenshots.ts
Due: prettier --write

Add a E2E_SYNC_DEFAULT_TIMEOUT
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-globals.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-utils.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/localized-screenshots.ts
Due: prettier --write

improve script
  src/SIL.XForge.Scripture/ClientApp/e2e/pre_merge_ci.sh
Due: none

Attempt to fix detection of whether project is connected
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-utils.ts
Due: prettier --write

script: timing. wording
  src/SIL.XForge.Scripture/ClientApp/e2e/pre_merge_ci.sh
Due: none

Wait fong ng serve
  src/SIL.XForge.Scripture/ClientApp/e2e/pre_merge_ci.sh
Due: none

Increase timeout for draft to be in progress
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/generate-draft.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/localized-screenshots.ts
Due: prettier --write

Fix tests following rebase on master
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-utils.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/community-checking.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/generate-draft.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/smoke-tests.mts
Due: prettier --write

Fix e2e tests on Auth0 login page
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-utils.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/smoke-tests.mts
Due: prettier --write

Fail on some cache misses
  .github/workflows/e2e-tests.yml
Due: prettier --write

Specify development invronment when running dotnet in CI
  src/SIL.XForge.Scripture/ClientApp/e2e/pre_merge_ci.sh
Due: none

Build in some wait
  src/SIL.XForge.Scripture/ClientApp/e2e/pre_merge_ci.sh
Due: none

Dependencies. Restore caches. Let dotnet try to build rts
  .github/workflows/e2e-tests.yml
Due: prettier --write

Add expectations to community checking test
  src/SIL.XForge.Scripture/ClientApp/e2e/e2e-globals.ts
  src/SIL.XForge.Scripture/ClientApp/e2e/workflows/community-checking.ts
Due: prettier --write

Print log when dotnet server fails to start
  src/SIL.XForge.Scripture/ClientApp/e2e/pre_merge_ci.sh
Due: none

Path conditions:
  prettier --write: any of: *.{ts,js,json,css,scss,less,html,md,yml}
  dotnet format analyzers --include: any of: *.cs
  dotnet format style --include: any of: *.cs
  dotnet csharpier: any of: *.cs
