Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier format"]

SF-3652 Don't allow new activations for translation suggestions
  scripts/db_tools/parse-version.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/feature-flags/feature-flag.service.ts
Due: prettier --write

SF-3655 Do not update the draft in Mongo when another draft has started
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Show notice when custom configurations apply to the draft
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/_draft-generation-steps-theme.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3633 Mark AddChapters obsolete so it can be removed at a later date
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3633 Frontend work-in-progress
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-history-list/draft-history-entry/draft-history-entry.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-preview-books/draft-preview-books.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-preview-books/draft-preview-books.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3633 Frontend work-in-progress part 2
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-import-wizard/draft-import-wizard.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3649 Add UI to filter projects with custom serval config (#3577)
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-projects.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3656 Fix argument out of range error when using two training sources
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3656 Fix argument out of range error when using two training sources (#3597)
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3644 Update the project font when it changes on sync
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
Due: prettier --write

SF-3644 Update the project font when it changes on sync (#3587)
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
Due: prettier --write

SF-3643 Show the correct button text in the draft failure message
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
Due: prettier --write

SF-3643 Show the correct button text in the draft failure message (#3586)
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
Due: prettier --write

SF-3513 Add static brotli pre-compression on build
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

SF-3513 Add static brotli pre-compression on build (#3585)
  src/SIL.XForge.Scripture/ClientApp/package-lock.json
  src/SIL.XForge.Scripture/ClientApp/package.json
Due: prettier --write

Set Material snack bar background color using mixin
  src/SIL.XForge.Scripture/ClientApp/src/styles.scss
Due: prettier --write

SF-1059 Transition from looking in /usr/local for hg
  .github/workflows/e2e-tests.yml
  deploy/vagrant/sfdev/base/provision.sh
  src/SIL.XForge.Scripture/Dockerfile
  src/SIL.XForge.Scripture/appsettings.Development.json
  src/SIL.XForge.Scripture/appsettings.Testing.json
  tools/CommitGenerator/Program.cs
  tools/RepoInfo/Program.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-1059 Change default path for hg executable to /usr/bin/hg (#3593)
  .github/workflows/e2e-tests.yml
  deploy/vagrant/sfdev/base/provision.sh
  src/SIL.XForge.Scripture/Dockerfile
  src/SIL.XForge.Scripture/appsettings.Development.json
  src/SIL.XForge.Scripture/appsettings.Testing.json
  tools/CommitGenerator/Program.cs
  tools/RepoInfo/Program.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Optimize node to use less heap memory whenever possible
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
Due: prettier --write

Optimize node to use less heap memory whenever possible (#3596)
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
Due: prettier --write

SF-3609 Use CanDenormalizeQuotes flag from Serval
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/build-dto.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/machine-api/quotation-denormalization.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-usfm-format/draft-usfm-format.component.ts
  src/SIL.XForge.Scripture/Models/ServalBuildAdditionalInfo.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Revert "Optimize node to use less heap memory whenever possible (#3596)"
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
Due: prettier --write

Fix how Node options are specified for build step and production
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  .github/workflows/release.yml
  scripts/build-and-ship
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge.Scripture/appsettings.json
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Fix how Node options are specified for build step and production (#3603)
  .github/workflows/release-live.yml
  .github/workflows/release-qa.yml
  .github/workflows/release.yml
  scripts/build-and-ship
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge.Scripture/appsettings.json
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

SF-3652 Don't allow new activations for translation suggestions
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.ts
Due: prettier --write

SF-3652 Don't allow new activations for translation suggestions (#3588)
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/settings/settings.component.ts
Due: prettier --write

wip
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-signup-form.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-signup-form.component.ts
  src/SIL.XForge.Scripture/Models/DraftingSignupRequest.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

wip
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-signup-form.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-signup-form.component.ts
Due: prettier --write

Set Material snack bar background color using mixin (#3600)
  src/SIL.XForge.Scripture/ClientApp/src/styles.scss
Due: prettier --write

wip
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/drafting-signup-requests.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-signup-form.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/drafting-signup.service.ts
Due: prettier --write

wip
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-request-detail.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-signup-form.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/drafting-signup.service.ts
  src/SIL.XForge.Scripture/Controllers/DraftingSignupRpcController.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

wip
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-signup-form/draft-signup-form.component.html
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

SF-3622 Definitively associate draft generation metrics
  .github/copilot-instructions.md
  src/SIL.XForge.Scripture/ClientApp/src/app/app.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metric.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/draft-jobs.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/job-details-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/job-details-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/sample-events.json
  src/SIL.XForge.Scripture/ClientApp/src/type-utils.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/utils.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/utils.ts
  src/SIL.XForge.Scripture/Services/IMachineProjectService.cs
  src/SIL.XForge.Scripture/Services/MachineApiService.cs
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  src/SIL.XForge.Scripture/Services/SyncService.cs
  src/SIL.XForge/DataAccess/MemoryRepository.cs
  src/SIL.XForge/EventMetrics/EventMetric.cs
  src/SIL.XForge/EventMetrics/EventMetricLogger.cs
  src/SIL.XForge/Services/EventMetricService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineApiServiceTests.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Potential fix for code scanning alert no. 1251: Missed opportunity to use Where
  src/SIL.XForge.Scripture/Services/NotesFormatter.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Spacing the three import cards evenly
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.scss
Due: prettier --write

Potential fix for code scanning alert no. 1252: Missed opportunity to use Where
  test/SIL.XForge.Scripture.Tests/Services/NotesFormatterTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier format

Added more instructions to initial dialog
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/import-questions-dialog/import-questions-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write
