Repository sillsdev/web-xforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

.lintstagedrc.yml:

"*.{ts,js,json,css,scss,less,html,md,yml}": "prettier --write"
"*.cs": ["dotnet format analyzers --include", "dotnet format style --include", "dotnet csharpier"]

Fixed remaining tests and added a missing warning when no access to the training source
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Fixed storybook file
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/confirm-sources/confirm-sources.stories.ts
Due: prettier --write

Update all translation files from Crowdin
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ar.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_az.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_de.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_es.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_fr.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_id.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_km.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_kyu.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_lo.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_npi.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_pt_BR.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ro.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_ru.json
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_zh_CN.json
Due: prettier --write

Fix splitter area shifting when manage audio dialog is closed
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
Due: prettier --write

Add query to find sync queue and run times
  mongodb/SyncMetrics/QueueAndRunTimePercentiles.mongodb
Due: none

Add query to find sync queue and run times (#2939)
  mongodb/SyncMetrics/QueueAndRunTimePercentiles.mongodb
Due: none

SF-3154 Fix splitter area shifting when manage audio dialog is closed (#2943)
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
Due: prettier --write

SF-3151 Clear ProjectSecret fields when a Serval project is removed
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

SF-3113 Fix realtime resource leaks
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking-overview/checking-overview.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-question/checking-question.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/resume-checking.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/biblical-terms/biblical-terms.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/editor.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/models/realtime-query.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/util/realtime-query-util.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/util/realtime-query-util.ts
Due: prettier --write

SF-3151 Handle missing corpora and parallel corpora
  src/SIL.XForge.Scripture/Services/MachineProjectService.cs
  test/SIL.XForge.Scripture.Tests/Services/MachineProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add event metric logging
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/ISyncService.cs
  src/SIL.XForge.Scripture/Services/SFEventMetricsContainerBuilderExtensions.cs
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge/DataAccess/DataAccessServiceCollectionExtensions.cs
  src/SIL.XForge/EventMetrics/EventMetric.cs
  src/SIL.XForge/EventMetrics/EventMetricLogger.cs
  src/SIL.XForge/EventMetrics/EventMetricsContainerBuilderExtensions.cs
  src/SIL.XForge/EventMetrics/EventScope.cs
  src/SIL.XForge/EventMetrics/LogEventMetricAttribute.cs
  src/SIL.XForge/SIL.XForge.csproj
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Relocate DictionaryComparer to SIL.XForge
  src/SIL.XForge/Utils/DictionaryComparer.cs
  test/SIL.XForge.Tests/Utils/DictionaryComparerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add unit tests
  src/SIL.XForge/DataAccess/DataAccessServiceCollectionExtensions.cs
  src/SIL.XForge/DataAccess/MemoryRepository.cs
  src/SIL.XForge/EventMetrics/EventMetric.cs
  src/SIL.XForge/EventMetrics/EventMetricLogger.cs
  src/SIL.XForge/EventMetrics/EventMetricsContainerBuilderExtensions.cs
  test/SIL.XForge.Scripture.Tests/Services/DependencyInjectionTests.cs
  test/SIL.XForge.Scripture.Tests/StartupTests.cs
  test/SIL.XForge.Tests/Services/EventMetricLoggerTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Refactor event metric saving
  src/SIL.XForge.Scripture/Startup.cs
  src/SIL.XForge/EventMetrics/EventMetricLogger.cs
  src/SIL.XForge/EventMetrics/EventMetricsContainerBuilderExtensions.cs
  src/SIL.XForge/Services/EventMetricService.cs
  src/SIL.XForge/Services/IEventMetricService.cs
  test/SIL.XForge.Scripture.Tests/Services/DependencyInjectionTests.cs
  test/SIL.XForge.Tests/Models/TestComplexObject.cs
  test/SIL.XForge.Tests/Models/TestSimpleObject.cs
  test/SIL.XForge.Tests/Services/EventMetricLoggerTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add basic retrieval of Event Metrics
  src/SIL.XForge/Services/EventMetricService.cs
  src/SIL.XForge/Services/IEventMetricService.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add event metric backend query interface
  src/SIL.XForge.Scripture/Controllers/SFProjectsRpcController.cs
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge/Services/EventMetricService.cs
  src/SIL.XForge/Services/IEventMetricService.cs
  test/SIL.XForge.Scripture.Tests/Controllers/SFProjectsRpcControllerTests.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fixed CodeQL warnings
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix handling of Bson by JsonRpc, and correctly index event_metrics
  src/SIL.XForge/DataAccess/BsonValueConverter.cs
  src/SIL.XForge/DataAccess/DataAccessApplicationBuilderExtensions.cs
  src/SIL.XForge/DataAccess/DataAccessServiceCollectionExtensions.cs
  src/SIL.XForge/DataAccess/MemoryRepository.cs
  src/SIL.XForge/EventMetrics/EventMetric.cs
  src/SIL.XForge/Services/EventMetricService.cs
  src/SIL.XForge/Services/JsonRpcServiceCollectionExtensions.cs
  test/SIL.XForge.Scripture.Tests/Services/DependencyInjectionTests.cs
  test/SIL.XForge.Tests/DataAccess/BsonValueConverterTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Do not save the CancellationToken in the event metrics
  src/SIL.XForge.Scripture/Services/IMachineApiService.cs
  src/SIL.XForge.Scripture/Services/SFEventMetricsContainerBuilderExtensions.cs
  src/SIL.XForge/Services/EventMetricService.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add recording of return values
  src/SIL.XForge.Scripture/Services/ISyncService.cs
  src/SIL.XForge/EventMetrics/EventMetric.cs
  src/SIL.XForge/EventMetrics/EventMetricLogger.cs
  src/SIL.XForge/EventMetrics/LogEventMetricAttribute.cs
  src/SIL.XForge/Services/EventMetricService.cs
  src/SIL.XForge/Services/IEventMetricService.cs
  test/SIL.XForge.Tests/Services/EventMetricLoggerTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add exception trapping support
  src/SIL.XForge/EventMetrics/EventMetric.cs
  src/SIL.XForge/EventMetrics/EventMetricLogger.cs
  src/SIL.XForge/Services/EventMetricService.cs
  src/SIL.XForge/Services/IEventMetricService.cs
  test/SIL.XForge.Tests/Services/EventMetricLoggerTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Add CountDocumentsAsync to IRepository
  src/SIL.XForge/DataAccess/IRepository.cs
  src/SIL.XForge/DataAccess/MemoryRepository.cs
  src/SIL.XForge/DataAccess/MongoRepository.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
  test/SIL.XForge.Tests/DataAccess/MongoRepositoryTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Added unpaged count to GetEventMetricsAsync
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge.Scripture/Services/SFProjectService.cs
  src/SIL.XForge/Models/QueryResults.cs
  src/SIL.XForge/Services/EventMetricService.cs
  src/SIL.XForge/Services/IEventMetricService.cs
  test/SIL.XForge.Scripture.Tests/Services/SFProjectServiceTests.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Make OwnerComponent a standalone component
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking-answers/checking-comments/checking-comments.stories.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/checking/checking/checking.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/owner/owner.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/owner/owner.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/xforge-common/xforge-common.module.ts
Due: prettier --write

Add initial groundwork for event log viewing
  src/SIL.XForge.Scripture/ClientApp/src/app/app-routing.module.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-auth.guard.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-auth.guard.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/shared/project-router.guard.ts
Due: prettier --write

Event Metrics Log Frontend
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/core/sf-project.service.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metric-dialog.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metric-dialog.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metric-dialog.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metric-dialog.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metric.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Code review fixes
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.ts
  src/SIL.XForge.Scripture/Services/ISFProjectService.cs
  src/SIL.XForge/DataAccess/BsonValueConverter.cs
  src/SIL.XForge/DataAccess/MemoryRepository.cs
  src/SIL.XForge/Services/EventMetricService.cs
  test/SIL.XForge.Tests/Services/EventMetricServiceTests.cs
Due: prettier --write, dotnet format analyzers --include, dotnet format style --include, dotnet csharpier

Fix offline issues reported in testing
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/serval-administration/serval-project.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/assets/i18n/non_checking_en.json
Due: prettier --write

Improve event metrics UI on mobile
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.ts
Due: prettier --write

Fix error when opening the page when offline
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.spec.ts
  src/SIL.XForge.Scripture/ClientApp/src/app/event-metrics/event-metrics-log.component.ts
Due: prettier --write

Fix broken test from Quill upgrade
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/editor/translate-metrics-session.spec.ts
Due: prettier --write

Translate books are on one line
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

Added ability to collapse similar books into ranges
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

Added test coverage for the new methods
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.spec.ts
Due: prettier --write

Using i18n.enumerateList for the training books
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.scss
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.ts
Due: prettier --write

Removed optional and initial back arrow
  src/SIL.XForge.Scripture/ClientApp/src/app/translate/draft-generation/draft-generation-steps/draft-generation-steps.component.html
Due: prettier --write
